@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";
@import "../../styles/mixins/media.scss";

.container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: auto;

  .select {
    background: var(--select-background-color);
    color: var(--select-text-color);
    width: auto;
    padding: 0.5rem 2rem 0.5rem 1.5rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    border-radius: 25px;
  }

  &.uppercase {
    select {
      font-size: $text-sm;
      text-transform: uppercase;
      margin: 0;
    }

    option {
      text-transform: none;
    }
  }

  &.border {
    border: 1px solid var(--select-border-color);
  }

  select + svg.chevron {
    font-size: 1em;
    color: var(--select-accent-color);
    height: 1rem;
    width: auto;
    margin: 0;
    margin-left: -2rem;
    padding-right: 1rem;
    pointer-events: none;
  }
}
