@import "styles/variables/fonts";
@import "styles/variables/colors";

a.container {
  max-width: 768px;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.75rem;
  font-size: $text-xxl;
  font-family: $font-primary;
  font-weight: 500;
  color: $white !important; //Layout module is overriding due to higher specificity
  cursor: pointer;
  text-transform: none;
  border: none;

  &:hover {
    filter: brightness(1.15);
    transition: ease-in-out 0.3s;
    color: $white;
  }

  &:active {
    filter: brightness(1);
    transition: ease-in-out 0.3s;
    transform: scale3d(0.95, 0.95, 1);
    color: $salmon;
  }

  &.myBallot {
    background-image: url("../../public/images/ballot-button.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    transition: ease-in-out 0.3s;
  }

  &.myLegislators {
    background-image: url("../../public/images/politicians-button.jpg");
    background-color: $aqua-dark;
    background-size: cover;
    background-position: center;
    height: 100px;
    transition: ease-in-out 0.3s;
  }

  &.votingGuides {
    background: url("../../public/images/voting-guides-button.jpg");
    background-color: $violet-dark;
    background-size: cover;
    background-position: center;
    height: 100px;
    transition: ease-in-out 0.3s;
  }

  &.legislation {
    background-image: url("../../public/images/legislation-button.jpg");
    background-color: $blue-dark;
    background-size: cover;
    background-position: center;
    height: 100px;
    transition: ease-in-out 0.3s;
  }

  &.admin {
    background-color: $blue-dark;
    background-size: cover;
    background-position: center;
    height: 100px;
    transition: ease-in-out 0.3s;
  }
}
