@import "styles/modules/page.module";
@import "styles/mixins/media";

.guideInput {
  margin-bottom: 0.5rem;
}

.electionHeader {
  padding: 2rem 1.5rem 1rem;

  h1 {
    font-weight: 500;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  h4 {
    font-size: 1.25em;
    margin-top: 1rem;
    margin-bottom: 0rem;
    @include for-tablet-up {
      font-size: 1.875em;
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
    color: $blue-lighter;
  }

  @include for-tablet-up {
    padding: 0 0;
  }
}

.votingContainer {
  margin-top: 0;
}

.votingCardContainer {
  margin-bottom: 1rem;
}

.description {
  color: $blue-text;
  size: $text-xs;
}

.guidesContainer {
  padding: 0 1rem 1.5rem;
  @include for-tablet-up {
    padding: 0;
    margin-top: 2rem;
  }
}

.otherGuidesContainer {
  margin-top: 1.5rem;
}

.guideContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  // border-top: 1px solid $white;

  background: $blue-darker;
  border: 1px solid $blue-dark;
  border-radius: 30px;
  margin: 1rem 0;
  width: 100%;

  min-width: 0;

  @include for-tablet-up {
    background: $blue-darker;
    border: 1px solid $blue-dark;
    border-radius: 30px;
    margin: 1.5rem 0 1.5rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  width: auto;
  gap: 0.75rem;
  @include for-tablet-up {
    flex-direction: row;
    gap: 1rem;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  min-width: 0;

  div {
    flex-shrink: 0;
    margin-top: 1px;
    // width:40px;
    // height:40px;
  }
  span {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    margin: 1rem;
    line-height: 1.3em;
    max-width: 100%;
    flex-shrink: 1;
    flex-grow: 1;

    @include clamp-ellipsis;
    white-space: nowrap;
  }
}

.deleteButton {
  @include override-button-styles;
  color: $blue-dark;
  cursor: pointer;
  :hover {
    color: $blue;
  }
}
