@import "styles/page.module";

.guideInput {
  margin-bottom: 0.5rem;
}

// .votingHeader {
//   padding: 0.5rem;
//   width: 100%;

//   h1 {
//     margin-top: 0;
//     padding-bottom: 1rem;
//     border-bottom: 1px solid $blue;
//   }

//   h2 {
//     text-transform: uppercase;
//   }
// }

.electionHeader {
  h1 {
    font-weight: 500;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  h4 {
    font-size: 1.875em;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
    color: $blue-lighter;
  }
}

.votingContainer {
  margin-top: 0;
}

.votingCardContainer {
  margin-bottom: 1rem;
}

.description {
  color: $blue-text;
  size: $text-xs;
}

.guideContainer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid $blue-dark;

  @include for-tablet-portrait-up {
    background: $blue-darker;
    border: 1px solid $blue-dark;
    border-radius: 30px;
    margin: 3rem 0 1.5rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
    line-height: 1.3em;

    @include clamp-ellipsis;
  }
}
