@import "styles/page.module";

.guideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  @include for-tablet-portrait-down {
    flex-direction: column;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include for-tablet-portrait-down {
    flex-wrap: wrap;
    justify-content: center;
  }

}

.avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: $text-sm;
    font-weight: 300;
    text-align: center;
    margin: 1rem;

    @include clamp-ellipsis;
  }
}