@import "styles/page.module";

.guideInput {
  margin-bottom: .5rem;
}

.votingHeader {
  width: 100%;
  border-bottom: 1px solid $blue;
}

.votingContainer {
  margin-top: 1rem;
}

.votingCardContainer {
  margin-bottom: 1rem;
}

.description {
  color: $blue-text;
  size: $text-xs;
}

.guideContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  @include for-tablet-portrait-down {
    flex-direction: column;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include for-tablet-portrait-down {
    flex-wrap: wrap;
    justify-content: center;
  }

}

.avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: $text-sm;
    font-weight: 300;
    text-align: center;
    margin: 1rem;

    @include clamp-ellipsis;
  }
}

.shareButton {
  margin-left: .5rem;
}