@import "styles/layout/containers";
@import "styles/mixins/utils";
@import "styles/variables/fonts";

.widgetContainer {
  width: 100%;

  main {
    padding: 1rem 1.5rem;

    .content {
      min-height: 468px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }

  .mainTitle {
    font-size: $text-lg;
    margin: 0;

    h4 {
      margin-bottom: 0;
    }
  }
}

.raceHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: $font-primary;
    margin: 0;
  }

  h4 {
    font-size: 1rem;
    font-weight: 400;
    font-family: $font-primary;
    margin: 0;
  }
}

.raceContainer {
  margin: 1rem 0 1rem;
  padding: 1rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $grey-lighter;
  padding-bottom: 1rem;
  border: 1px solid $grey-light;
  border-radius: 20px;
}

.header {
  border-radius: 15px 15px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $grey-lighter;
  padding: 0.75rem 1rem !important;
  border-bottom: 1px solid $grey-light;

  strong {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-family: $font-primary;
  }

  .electionInfo {
    text-align: right;
  }
}

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  form {
    width: 90%;

    p {
      margin: 0 0 1.5rem;
      text-align: left;
      font-size: $text-md;
    }

    .firstRow {
      grid-row: 1;
      grid-column: 1 / -1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .secondRow {
      grid-row: 2;
      grid-column: 1 / -1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    .thirdRow {
      display: grid;
      grid-template-columns: 3fr 1fr 2fr;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.moreInfo {
  margin: 1.5rem 1rem 1rem;
  h4 {
    font-weight: 400;
    font-size: $text-sm;
    margin: 0 0 0.5rem;
  }

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0;
  padding-bottom: 0.75rem;

  li {
    list-style: none;

    a {
      color: $blue !important;
      text-decoration: underline;

      &:hover {
        color: $blue-dark !important;
      }

      @include clamp-ellipsis(1);
    }
  }
}

.raceGroup {
  padding: 1.5rem 0 1rem;
  margin-bottom: 0;
  border-top: 1px solid $grey-light;
}

.raceGroup:first-child {
  padding-top: 0;
  margin-bottom: 0;
  border-top: none;
}

.raceGroup:last-child {
  padding-bottom: 0;
}

.container {
  .sectionTitle {
    font-size: 12px !important;
  }
}

.resultsInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $grey-light;

  small {
    font-size: $text-xs;
    font-style: italic;
    margin: 0;
  }
}

.resultsInfo:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

// Endorsed candidate styles

.allEndorsementsContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  row-gap: 0.5rem;
  flex-grow: 1;
}

.endorsedCandidateContainer {
  margin-bottom: 0;
  display: inline-block;
}

.candidateContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 0.75rem;
}

.officeHeader {
  text-align: center;
  h3 {
    font-size: 0.75rem;
    font-weight: 500;
    font-family: $font-primary;
    margin: 0;
    color: $blue;
    text-transform: uppercase;
  }
}

.avatarContainer {
  margin: 0 !important;
}

// Reused styles from Ballot.module.scss
.sideText {
  color: $blue;
  font-family: $font-primary;
  letter-spacing: 0.05em;
  writing-mode: tb-rl; /* For backward compatability */
  writing-mode: vertical-rl;
  transform: rotate(180deg); /* so text reads from bottom up */
  font-size: 0.75em;
  width: 15px;
  text-transform: uppercase;
  align-self: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 1rem;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
  margin: 0 1rem;
  min-width: 5rem;
  min-height: 5rem;
  overflow: visible;
  transition: all 1s;
  cursor: pointer;

  .avatarName {
    color: $grey-lightest;
    font-size: $text-sm;
    font-weight: 300;
    text-align: center;
    margin: 0.5rem 0 0;
    line-height: 1.3em;
    max-width: 120px;

    &.light {
      color: $grey-darkest;
    }
  }

  &:hover .avatarName {
    color: $blue-text;
    transition: color 0.25s ease-in-out;
  }

  button {
    padding: 3px;
    margin: 0;
  }

  &.link {
    cursor: pointer;

    &:hover {
      color: $blue-text;
      text-decoration: dotted underline;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.endorserTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.endorserText {
  line-height: 1.2;

  h4 {
    margin-bottom: 0;
  }
}

.orgName {
  font-size: 1.2rem;
}

//helper classes
.alignItemsCenter {
  align-items: center;
}

.gap75 {
  gap: 0.75rem;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.onYourBallotLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid $grey-light;
  height: 40px;
  background-color: $grey-lighter;
  font-size: $text-sm;
  font-weight: 400;
  margin: 0.5rem 0 1.5rem;
  text-align: center;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.ballotContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
}

.loaderFlagContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
}

.submitAddressButtonContainer {
  margin-top: 2rem;
}
