@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/utils";

.container {
  display: flex;
  border-radius: 20px;
  border: 1px solid $blue;
  padding: 1rem;
  min-width: 0;
  max-width: 100%;

  .flexBetween {
    @include flex-between(1rem);
  }

  &.red {
    border: 1px solid $red;
  }

  &.blue {
    border: 1px solid $blue;
  }

  legend {
    padding: 0 0.5rem;
    margin: auto;
    font-family: $font-primary;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    font-size: 0.75em;
  }
}
