@import "styles/variables/colors.module";
@import "styles/variables/fonts.module";

.container {
  border-radius: 20px;
  border: 2px solid $blue;
  padding: 1rem;
  text-align: left;
  margin-right: 1rem;

  &.red {
    border: 2px solid $red;
  }

  &.blue {
    border: 2px solid $blue;
  }

  legend {
    position: relative;
    margin: auto;
    font-family: $font-primary;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
  }
}
