@import "styles/layout/containers";

.container {
  section {
    margin-bottom: 3rem;
  }
}

.submissionBox {
  border-radius: 0.5rem;
  background-color: $blue-darker;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  p {
    margin-bottom: 0;
  }
}

.runningFor {
  font-style: italic;
  color: $aqua;
  font-size: $text-sm;
  text-align: center;
  margin-top: 0.5rem;

  .officeInfo {
    font-weight: 500;
  }
}

.avatarContainer {
  color: white;
}
