@import "styles/layout/containers";
@import "styles/variables/colors";

.pollOption {
  min-height: 47px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 14px 18px;
  background: linear-gradient(0deg, #ccc, #ccc),
    linear-gradient(0deg, #ddd, #ddd);
  border: 1px solid $grey;
  text-align: center;
  cursor: pointer;

  input[type="radio"] {
    display: none;
  }

  &[data-selected="true"] {
    background: $blue;
    color: $white;
  }
}

.submissionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
