@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $blue-dark;

  @include for-tablet-portrait-down {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 1rem;
    text-transform: uppercase;
    font-size: $text-md;
    font-family: $font-primary;
    width: 12rem;
    text-align: center;
    height: 3.5rem;

    &[data-selected="true"] {
      border-bottom: 2px solid $yellow;

      &.aqua {
        border-bottom: 2px solid $aqua;
      }
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      color: $white;
      text-transform: uppercase;
      padding: 0;
    }
  }
}
