@import "styles/variables/fonts";
@import "styles/variables/colors";

.inputContainer {
  width: 100%;

  .inputWithIcon {
    position: relative;
    display: inline-block;
    width: 100%;

    svg {
      position: absolute;
      top: 1.2rem;
      right: 1rem;
    }
  }

  input,
  select {
    border-radius: 6px;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border: none;
    color: #1f1f30;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    font-size: 19px;
    letter-spacing: 0.2px;
    line-height: 24px;
    min-height: 56px;
    padding: 15px 24px;

    .selectWrapper {
      position: relative;
      display: inline-block;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $blue;
    }
  }

  &.small {
    input,
    select {
      font-size: 14px;
      line-height: 18px;
      min-height: 40px;
      padding: 10px 18px;
    }

    label {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0.25rem;
    }
  }

  &.medium {
    input,
    select {
      font-size: 17px;
      line-height: 24px;
      min-height: 48px;
      padding: 12px 20px;
    }

    label {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 0.5rem;
    }
  }

  &.large {
    input,
    select {
      font-size: 19px;
      letter-spacing: 0.2px;
      line-height: 24px;
      min-height: 56px;
      padding: 15px 24px;
    }

    label {
      font-size: 19px;
      letter-spacing: 0.2px;
      line-height: 24px;
      margin-bottom: 0.5rem;
    }
  }

  &.hideLabel {
    label {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  span.errorMessage {
    color: $red;
    font-size: $text-sm;
    padding: 0.5em 0.25em;
    display: inline-block;
  }
}
