@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.candidateGuideContainer {
  width: 100%;

  main {
    position: relative;
  }
}

.header {
  border-radius: 15px 15px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $grey-light;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid $grey;

  strong {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-family: $font-primary;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
  }
}

.questionButton {
  text-align: left;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid $grey-light;
  background-color: $grey-lighter;
  cursor: pointer;
}

.questionsContainer {
  margin: 0 0 1rem;
  padding: 1rem 0;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
}

.questionsTitle {
  margin-bottom: 0.5rem !important;
  font-size: 0.8em;
}

.raceContainer {
  margin: 0 0 1.25rem;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey-light;
  padding-bottom: 1.5rem;
}

.backButton {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
  font-size: 0.8em;
  text-transform: uppercase;
  font-family: $font-primary;
  border: none;
  cursor: pointer;
  margin-top: -1px;
  padding: 0;
}

.submissionsContainer {
  margin: 0 0 1rem;
  overflow: auto;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatarContainer {
  margin: 0;
}

.submission {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5rem;
  border-bottom: 1px solid $grey-light;
  padding: 1rem 0 2rem;

  p {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
  }
}

.submission:last-child {
  border-bottom: 0;
}

.questionHeader {
  display: flex;
  justify-content: space-between;

  svg {
    margin-top: 1px;
  }
}

.question {
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    font-family: $font-secondary;
    margin: 0.5rem 0;
  }
}

.noResponse {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: $grey;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $text-md;
  font-family: $font-primary;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding-bottom: 0 !important;
}

.overflowGradient {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.overflowGradient::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient($grey-lightest, rgba(238, 238, 238, 0));
  z-index: 10;
}

.overflowGradient::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient(rgba(238, 238, 238, 0), $grey-lightest);
  z-index: 10;
}

.officeHeader {
  align-items: baseline;

  h2:first-child {
    border-right: 1px solid $grey-light;
  }
}

.officeName {
  font-size: 1.75em;
  font-weight: 500 !important;
  padding-right: 1rem;
}
.officeSubtitle {
  padding-left: 1rem;
  font-size: 1.25em;
  font-weight: 500 !important;
  text-transform: uppercase;
}
