@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.header {
  border-radius: 15px 15px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $grey-light;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid $grey;

  strong {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    font-family: $font-primary;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
  }
}

.questionButton {
  text-align: left;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid $grey-light;
  background-color: $grey-lighter;
  cursor: pointer;
}

.questionContainer {
  margin: 1rem 0;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.raceContainer {
  margin: 1.5rem 0;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.submissionsContainer {
  margin-top: 2rem;
}

.submission {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5rem;

  p {
    font-size: $text-xl;
  }
}
