@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";

.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 10vh;
  z-index: 1000;
  display: flex;
  flex-direction: row;

  button {
    border: none;
    background-color: $background-secondary;
    width: 100%;
    color: $white;
    font-size: $text-lg;

    &:not(:last-child) {
      border-right: 1px solid $blue;
    }

    &.selected {
      border-top: 3px solid $salmon;
    }
  }

  @include for-tablet-landscape-up {
    display: none;
  }
}
