@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.container {
  width: auto;
  height: auto;
  min-width: 20rem;
  border: 1px solid $grey-light;
  background: $grey-lightest;
  border-radius: 0.5rem;
  color: $grey-darkest;

  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .table th,
  .table td {
    padding: 0 0.75rem;
    text-align: left;
  }

  .table th {
    font-weight: bold;
  }

  .table td {
    font-size: 1rem;
  }

  .titleColumn {
    font-weight: 500;
    color: $grey-darkest;
    max-width: 24rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table .highlight {
    background-color: $grey-lightest;
  }

  .table tfoot {
    width: 100%;
  }

  .table thead {
    background-color: #ddd;
    border-radius: 0.5rem 0.5rem 0;
    font-size: $text-xs;
    height: 40px;

    th div {
      display: flex;
      gap: 0.25rem;
    }

    th:first-child {
      border-radius: 0.5rem 0 0;
      padding-left: 1rem;
    }

    th:last-child {
      border-radius: 0 0.5rem 0 0;
      padding-right: 1rem;
    }
  }

  .table tr {
    border-bottom: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .table tbody {
    padding: 1rem;
  }

  .table tbody tr {
    padding-left: 1rem;
    height: 60px;

    td:first-child {
      padding-left: 1rem;
    }

    td:last-child {
      padding-right: 1rem;
    }
  }

  .table tbody tr:last-child {
    border-bottom: 0;
  }

  footer {
    padding: 0 1rem;
  }
}
