@import "../../../styles/variables/colors.module.scss";

.container {
  position: absolute;
  top:0;
  right:0;
  z-index: 25;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: flex-end;
  margin-right:8rem;

  button {
    background: $blue-darker;
    border-radius: 0 0 50px 0;
    border: none;
    color: $white;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;


    &:first-child {
      border-right: 1px solid $blue-darkest;
      border-radius: 0 0 0 50px;
    }
    &:last-child {
      border-left: 1px solid $blue-dark;
    }
    
    .nextLabel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 1.5rem;
    }

    .lastLabel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1.5rem;
    }

    h4 {
      margin:0;
      font-size: 1.2em;
    }

    h3 {
      margin: 0.3rem 0 0 0;
      font-size: 1.75em;
      font-weight: 500;
      // line-height: 1em;
    }
  }
}




