@import "styles/layout/containers";
@import "styles/variables/fonts";

.container {
  padding: 1.5rem 0;

  section {
    margin-bottom: 3rem;
  }

  h2 {
    margin: 0 0 1.5rem;
  }

  display: flex;
  flex-direction: column;
  width: 100%;

  .tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      > * {
        width: 100%;
        align-content: center;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        margin: 0.5rem 0;
      }

      a > * {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .dotSpread {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    gap: 0.5rem;
    margin: 0.25rem 0;
    font-size: $text-md;

    span {
      min-width: fit-content;
      margin: 0;
      text-transform: capitalize;

      &.dots {
        width: 100%;
        display: inline;
        height: 1px;
        background-image: linear-gradient(
          to right,
          $blue-light 20%,
          $blue-darker 0%
        );
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
      }
    }
  }
}
