/* stylelint-disable selector-class-pattern */
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/utils";
@import "styles/mixins/media";

.hero {
  margin-top: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $blue-text;
    border-bottom: 1px dotted;
    width: fit-content;
  }
}

.iconStack {
  display: grid;
  svg {
    grid-area: 1 / 1;
  }
}

.center {
  text-align: center;
}

.centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWithIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0;
  width: 100%;

  input {
    margin-right: -2rem;
  }

  input:focus + svg {
    opacity: 0;
  }
}

.roundedCard {
  border-radius: 25px;
  border: 1px solid $blue-dark;
  background: $blue-darker;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  min-width: 10rem;
  overflow: scroll;

  h1 {
    font-weight: 400;
  }
}

.scrollSnap {
  @include scroll-snap;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexLeft {
  display: flex;
  justify-content: left;
  align-items: center;
  width: fit-content;
}

.flexRight {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.flexEvenly {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexBaseline {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
}

.flexChild {
  flex: 1;
  width: 0;
}

.divider {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid $blue-dark;

  @include for-tablet-down {
    margin: 2rem 0;
    border-bottom: 1px solid $blue-darker;
  }
}

.widgetContainer {
  border-radius: 15px;
  border: 1px solid $grey-light;
  background: $grey-lightest;
  box-sizing: border-box;
  color: $grey-darkest;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;

  main {
    width: 100%;
    padding: 1.75rem;
  }

  h3.prompt {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0;
  }

  h5.successMessage {
    font-size: $text-sm;
    font-weight: 400;
    font-family: $font-secondary;
    text-align: center;
    margin-top: 5rem;
  }

  footer {
    padding: 0 1rem;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
  margin: 0 1rem;
  min-width: 5rem;
  min-height: 5rem;
  overflow: visible;
  transition: all 1s;

  .avatarName {
    color: inherit;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 0.5rem 0 0;
    line-height: 1.3em;
  }

  &:hover .avatarName {
    color: $blue-text;
    transition: color 0.25s ease-in-out;
  }

  button {
    padding: 3px;
    margin: 0;
  }

  &.link {
    cursor: pointer;

    &:hover {
      color: $blue-text;
      text-decoration: dotted underline;
    }
  }
}

.dotSpreadEmbed {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 0.25rem;

  span {
    min-width: fit-content;
    margin: 0;

    &.dots {
      width: 100%;
      display: inline;
      height: 1px;
      background-image: linear-gradient(
        to right,
        $grey-darker 20%,
        $grey-lightest 0%
      );
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
  }
}

.linkParent {
  height: fit-content;
  text-decoration: none;
  :hover {
    text-decoration: none;
    color: none;
  }
}

.noResults {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  color: $blue;
  text-transform: uppercase;
  font-weight: 400;
  font-size: $text-md;
}

.mt1 {
  margin-top: 1rem;
}

.radioLabel {
  background: $background-secondary;
  color: $white;
  border-radius: 25px;
  border: 1px solid $blue;
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &.aquaLabel {
    border: 1px solid $aqua;
  }

  &.yellowLabel {
    border: 1px solid $yellow;
  }

  &.salmonLabel {
    border: 1px solid $salmon;
  }

  &:hover {
    opacity: 0.8;
  }
}

.filters,
.filtersContainer {
  display: flex;
  gap: 1rem;
  input[type="radio"]:checked + label {
    background: $blue;
    color: $white;

    &.aquaLabel {
      background: $aqua;
      color: $grey-darkest;
    }

    &.yellowLabel {
      background: $yellow;
      color: $grey-darkest;
    }

    &.salmonLabel {
      background: $salmon;
      color: $grey-darkest;
    }
  }

  input[type="radio"] {
    display: none;
  }
}

// Radix UI styles

.SeparatorRoot {
  background-color: $blue-text;
}
.SeparatorRoot[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}

.TooltipContent {
  border: 1px solid $blue-text;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: $white;
  background-color: $blue-dark;
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 1000;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.TooltipTrigger {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  background: none;
  padding: 0;
}

.TooltipArrow {
  fill: $blue-text;
}
