@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/utils";

.hero {
  margin-top: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $blue-text;
    border-bottom: 1px dotted;
    width: fit-content;
  }
}

.iconStack {
  display: grid;
  svg {
    grid-area: 1 / 1;
  }
}

.center {
  text-align: center;
}

.inputWithIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 0.75rem;
  width: 100%;

  input {
    margin-right: -2rem;
  }

  input:focus + svg {
    opacity: 0;
  }
}

.roundedCard {
  border-radius: 25px;
  border: 1px solid $blue-dark;
  background: $blue-darker;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  min-width: 10rem;
  overflow: scroll;

  h1 {
    font-weight: 400;
  }
}

.scrollSnap {
  @include scroll-snap;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flexChild {
  flex: 1;
  width: 0;
}

.widgetContainer {
  border-radius: 15px;
  border: 1px solid $grey-light;
  background: $grey-lighter;
  box-sizing: border-box;
  color: $grey-darkest;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;

  main {
    width: 100%;
    padding: 1.75rem;
  }

  h3.prompt {
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
  }

  h5.successMessage {
    font-size: $text-sm;
    font-weight: 400;
    font-family: $font-secondary;
    text-align: center;
    margin-top: 5rem;
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
  margin: 0 1rem;
  min-width: 5rem;
  min-height: 5rem;
  overflow: visible;
  transition: all 1s;

  .avatarName {
    color: $white;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin: 0.5rem 0 0;
    line-height: 1.3em;
  }

  &:hover .avatarName {
    color: $blue-text;
    transition: color 0.25s ease-in-out;
  }

  button {
    padding: 3px;
    margin: 0;
  }

  &.link {
    cursor: pointer;

    &:hover {
      color: $blue-text;
      text-decoration: dotted underline;
    }
  }
}
