@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";

.billCard {
  align-items: center;
  background: $white;
  border-radius: 15px;
  border: 1px solid $blue;
  box-sizing: border-box;
  color: $grey-darkest;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100vw - 2rem);
  max-width: 23rem;
  height: 15rem;

  .header {
    border-radius: 15px 15px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $grey-lighter;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $grey;

    strong {
      font-size: 15px;
      font-weight: 600px;
    }
  }

  .cardContent {
    padding: 1rem;
    .title {
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: $grey-darkest;
      display: -webkit-box;
      font-size: $text-lg;
      margin-bottom: 1rem;
      font-weight: 600;
      overflow: hidden;
    }
    .tags {
      display: flex;
      justify-content: center;
    }
  }

  .footer {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    width: 100%;
    border-radius: 0 0 15px 15px;

    .votes {
      display: flex;
      gap: 1rem;
    }
  }
}
