@import "styles/mixins.scss";
@import "styles/variables/fonts.module.scss";
@import "styles/variables/colors.module.scss";

.billCard {
  border: 1px solid $blue;
  background: $blue-dark;
  color: $white;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: calc(100vw - 2rem);
  margin: 0 1rem;

  @include for-tablet-landscape-up {
    max-width: calc(100vw / 3 - 7rem);
    margin: 0 1rem;
  }

  .cardContent {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h1.billNumber {
      font-size: $text-lg;
      font-weight: $weight-normal;
      text-decoration: 1px dotted underline;
    }

    h2.billTitle {
      font-size: $text-sm;
      text-decoration: 1px dotted underline;
      text-transform: none;
      color: $white;
    }

    .statusPill {
      background: $blue;
      border-radius: 40px;
      padding: 10px;
      text-transform: capitalize;
    }
  }
}
