@import "styles/mixins.scss";
@import "styles/variables/fonts.module.scss";
@import "styles/variables/colors.module.scss";

.billPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}

.billCard {
  border: 1px solid $blue;
  background: $white;
  color: $grey-darkest;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: calc(100vw - 2rem);
  margin: 0 1rem;
  height: 14rem;

  @include for-tablet-landscape-up {
    max-width: calc(100vw / 3 - 7rem);
    margin: 0 1rem;
  }

  .cardContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    h1.billNumber {
      font-size: $text-lg;
      font-weight: $weight-normal;
      text-decoration: 1px dotted underline;
      text-underline-offset: 0.3em;
    }

    h2.billTitle {
      font-size: $text-sm;
      text-decoration: 1px dotted underline;
      text-underline-offset: 0.3em;
      text-transform: none;
      color: $grey-darkest;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5em;
    }

    .statusPill {
      background: $grey-lightest;
      border-radius: 40px;
      padding: 10px;
      text-transform: capitalize;
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
