@import "styles/mixins.scss";
@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module.scss";

.billCard {
  align-items: center;
  background: $white;
  border-radius: 15px;
  border: 1px solid $blue;
  box-sizing: border-box;
  color: $grey-darkest;
  display: flex;
  flex-direction: column;
  height: 14rem;
  margin: 0 1.125rem;
  padding: 0 2rem;
  width: calc(100vw - 2rem);
  max-width: 23rem;

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;

    > * {
      font-family: $font-secondary !important;
    }

    h1.billNumber {
      font-size: $text-lg;
      font-weight: 600;
      text-decoration: 1px dotted underline;
      text-underline-offset: 0.3em;
      margin: 0;
    }

    h2.billTitle {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      color: $grey-darkest;
      display: -webkit-box;
      font-size: $text-sm;
      line-height: 1.5em;
      overflow: hidden;
      text-decoration: 1px dotted underline;
      text-transform: none;
      text-underline-offset: 0.3em;
    }

    .statusPill {
      background: $grey-lightest;
      border-radius: 30px;
      font-weight: 600;
      margin-top: 0.75rem;
      padding: 10px;
      text-transform: capitalize;
      width: 100%;
    }
  }
}
