.container {
  font-family: system-ui, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;

  input {
    transition-duration: 0.3s;
    cursor: pointer;
  }
}
