@import "styles/variables/colors";

.footer {
  width: 100%;
  padding: 0 1rem 0.75rem;

  .divider {
    width: 100%;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid $grey-light;
  }

  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .branding {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      a {
        height: 13px;
      }
    }

    .poweredBy {
      font-size: 13px;
      font-style: italic;
      color: $grey;
    }
  }
}
