@import "styles/variables/colors";

.footer {
  width: 100%;
  border-top: 1px solid $grey-light;

  .footerContent {
    margin: 0;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .branding {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;

      a {
        height: 13px;
      }
    }

    .poweredBy {
      font-size: 13px;
      font-style: italic;
      color: $grey;
    }
  }
}
