.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  margin-top: 2rem;

  h3,
  h4 {
    margin: 0 0 1rem;
  }

  .preview {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .options {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .embedCode {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
