.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
  margin-top: 2rem;

  h3,
  h4 {
    margin-top: 0;
  }

  div.contextBox {
    display: flex;
    flex-direction: column;
  }

  .options {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .searchAndFilters {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}
