@import "styles/layout/containers";

.content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(5, auto);
  gap: 2rem;
  margin-top: 2rem;

  h3,
  h4 {
    margin: 0 0 1rem;
  }

  .preview {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    max-width: 512px;
    position: sticky;
    top: 2rem;
    align-self: start;
  }

  .options {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .embedCode {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .deployments {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .dangerZone {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}
