@import "styles/mixins";
@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module.scss";

.horizontalScrollContainer {
  width: 100%;
  max-height: max-content;
  position: relative;
  text-align: center;

  button {
    span { padding: 0 0.5rem }
  }
}

.scrollPage {
  @include for-tablet-portrait-down {
    min-width: 100%;
  }
}

.swipe {
  color: $blue;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1rem;
  font-family: $font-primary;
}

.hideArrowText {
  button {
    span { display: none }
  }
}
