@import "styles/mixins";

.horizontalScrollContainer {
  margin: 1rem 0;
  max-width: 100%;
  max-height: max-content;
}

.scrollPage {
  @include for-tablet-portrait-down {
    min-width: 100%;
  }
}
