.react-horizontal-scrolling-menu--wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

.react-horizontal-scrolling-menu--scroll-container {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-type: x mandatory;
  order: 1;
  scrollbar-width: none; /* Firefox */

  /* margin-top: 1rem; */
}

.react-horizontal-scrolling-menu--item  {
  scroll-snap-align: center;
}

/* Change position of container so arrows will be at top/bottom */
.mobile-scroller .react-horizontal-scrolling-menu--scroll-container {
  order: -1;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar { /* WebKit */
  height: 0;
  width: 0;
}

.mobile-scroller {
  margin: 0 auto;
}