@import "styles/variables/colors";
@import "styles/mixins/media";
@import "styles/modules/page.module";

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.orgLogo {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  margin: 3rem 0;
  border-bottom: 1px solid $blue-darker;

  @include for-tablet-down {
    margin: 2rem 0;
  }
}

.mainTitle {
  font-weight: 600;
  text-align: center;
  margin-top: 1rem !important;
}

.descriptionText {
  margin: 1rem 0;

  @include for-tablet-portrait-down {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  @include for-tablet-down {
    margin-top: 1rem;
  }

  svg {
    font-size: 1.5rem;
    color: $blue;
  }
}
