@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module.scss";

.common {
  align-items: center;
  border-radius: 1.825rem;
  border: solid 2px transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: $font-primary;
  font-weight: 400;
  justify-content: center;
}

$large-size: 3.125rem;
$medium-size: 2.5rem;
$small-size: 1.825rem;

@mixin primary(
  $color,
  $colorDark,
  $colorDarker,
  $colorLight,
  $colorLighter,
  $textColor: $white
) {
  background: $color;
  color: $textColor;

  &:hover {
    background: $colorLight;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $colorLighter,
      0px 0px 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    background: $colorDark;
    border-color: $color;
  }

  &:disabled {
    background: $colorDarker;
    border-color: $colorDark;
    color: $color;
    cursor: not-allowed;
  }
}

@mixin secondary(
  $color,
  $colorDark,
  $colorDarker,
  $colorDarkest,
  $colorLight,
  $colorLighter,
  $textColor: $white
) {
  border-color: $color;
  background-color: $colorDarkest;
  color: $textColor;

  &:hover {
    background-color: $colorDarker;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $colorLighter,
      0px 0px 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    background-color: $color;
  }

  &:disabled {
    background: $colorDarkest;
    border-color: $colorDark;
    color: $color;
    cursor: not-allowed;
  }
}

@mixin textOnly($color, $colorLighter, $colorDark, $textColor) {
  border: none;
  text-decoration: 1px dotted underline;
  text-underline-offset: 0.3em;
  text-decoration-color: $textColor;
  color: $white;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    color: $textColor;
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px $colorLighter,
      0px 0px 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    text-decoration-color: $colorLighter;
    color: $colorLighter;
  }

  &:disabled {
    text-decoration-color: $color;
    color: $colorDark;
  }
}

.blue.primary {
  @include primary(
    $blue,
    $blue-dark,
    $blue-darkest,
    $blue-light,
    $blue-lighter
  );
}

.blue.secondary {
  @include secondary(
    $blue,
    $blue-dark,
    $blue-darker,
    $blue-darkest,
    $blue-light,
    $blue-lighter
  );
}

.blue.text {
  @include textOnly($blue, $blue-lighter, $blue-dark, $blue-text);
}

.yellow.primary {
  @include primary($yellow, $yellow, $yellow, $yellow, $yellow, $dark-brown);
}

.red.primary {
  @include primary($red, $red, $red, $red, $red, $white);
}

.red.secondary {
  @include secondary($red, $red, $red, transparent, $red, $white);
}

@mixin iconButton($size) {
  border-radius: $size;
  height: $size;
  width: $size;
}

.large {
  font-size: 1.125rem;
  line-height: 1.375rem;
  min-height: $large-size;
  padding: 0.75rem 1.825rem;
  &.icon {
    @include iconButton($large-size);
  }
}

.medium {
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: $medium-size;
  padding: 0.625rem 1.825rem;
  &.icon {
    @include iconButton($medium-size);
  }
}

.small {
  font-size: 0.8125rem;
  line-height: 1rem;
  min-height: $small-size;
  padding: 0.75rem 1.825rem;
  &.icon {
    @include iconButton($small-size);
  }
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}
