@import "styles/variables/colors.scss";
@import "styles/variables/fonts.scss";

.common {
  align-items: center;
  border-radius: 1.825rem;
  border: solid 2px transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: $font-primary;
  font-weight: 400;
  justify-content: center;
  gap: 0.375rem;
  width: var(--button-width);
  transition: all 0.2s ease-in-out;
  svg {
    font-size: 1.2em;
    transition: ease-in-out all 0.2s;
  }

  &:disabled {
    svg {
      color: $blue-dark;
    }
  }
}

.buttonLabel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: -1px;

  &.noWrapText {
    white-space: nowrap;
  }

  &.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

$large-size: 3.125rem;
$medium-size: 2.5rem;
$small-size: 1.825rem;

@mixin primary(
  $color,
  // background color + active border color
  $colorDark,
  // active background color + disabled border
  $colorDarker,
  // disabled background color
  $colorDarkest: "black",
  $colorLight,
  // hover background color
  $colorLighter: $blue-lighter,
  // focus color
  $textColor: $white // text color
) {
  background: $color;
  color: $textColor;

  &:focus {
    box-shadow: 0 0 0 2px $colorLighter, 0 0 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    background: $colorDark;
    border-color: $color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(.iconOnlyButton, [disabled]) {
    svg {
      color: $blue-darkest;
    }

    &:active {
      svg {
        color: $blue;
      }
    }
  }

  &:hover:not(:disabled) {
    background: $colorLight;
  }
}

@mixin secondary(
  $color,
  $colorDark,
  $colorDarker,
  $colorDarkest,
  $colorLight,
  $colorLighter,
  $textColor
) {
  border-color: $color;
  background-color: transparent;
  color: $textColor;

  &:hover {
    background-color: $colorDarker;
    color: $colorDarkest;
  }

  &:focus {
    box-shadow: 0 0 0 2px $colorLighter, 0 0 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    background-color: $color;
  }

  &:disabled {
    background: transparent;
    border-color: $blue-dark;
    color: $blue-dark;
    cursor: not-allowed;
  }

  &:not(.iconOnlyButton, [disabled]) {
    svg {
      color: $blue;
    }

    &:active {
      svg {
        color: $blue-darkest;
      }
    }
  }
}

@mixin text-only($color, $colorLighter, $colorDark, $textColor) {
  border: none;
  text-decoration: 1px dotted underline;
  text-underline-offset: 0.3em;
  text-decoration-color: $textColor;
  color: $white;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    color: $textColor;
  }

  &:focus {
    box-shadow: 0 0 0 2px $colorLighter, 0 0 8px 2px rgba($colorLighter, 0.5);
  }

  &:active {
    text-decoration-color: $colorLighter;
    color: $colorLighter;
  }

  &:disabled {
    text-decoration-color: $color;
    color: $colorDark;
  }
}

.blue.primary {
  @include primary(
    $blue,
    $blue-dark,
    $blue-darker,
    $blue-darkest,
    $blue-light,
    $blue-lighter
  );

  &:hover {
    background: $blue-light;
    color: $white;
  }
}

.blue.secondary {
  @include secondary(
    $blue,
    $blue-dark,
    $blue-darker,
    $blue-darkest,
    $blue-light,
    $blue-lighter,
    $white
  );

  &:hover:not(:disabled) {
    background: $blue;
    color: $white;

    svg {
      color: $blue-text;
    }
  }
}

.blue.text {
  @include text-only($blue, $blue-lighter, $blue-dark, $blue-text);
}

.yellow.primary {
  @include primary(
    $yellow,
    $yellow-dark,
    $yellow-dark,
    $blue-darkest,
    #ffd70f,
    $dark-brown,
    $blue-darkest
  );
}

.yellow.secondary {
  @include secondary(
    $yellow,
    $yellow-dark,
    $yellow,
    $blue-darker,
    $white,
    $yellow-dark,
    $white
  );
}

.red.primary {
  @include primary($red, $red, $red, $red, $red, $white);
}

.red.secondary {
  @include secondary($red, $red, $red, "transparent", $red, $white, $white);
}

.orange.primary {
  @include primary(
    $orange,
    $orange-dark,
    $orange-darker,
    $blue-darkest,
    $orange-light,
    $orange-lighter,
    $blue-darkest
  );
}

.aqua.primary {
  @include primary(
    $aqua,
    // background color + active border color
    #2c6e6a,
    #2c6e6a,
    // active background color + disabled border
    $blue-darkest,
    // disabled background color
    #9aeacf,
    // hover background color
    $blue-lighter,
    // focus color
    $blue-darkest // text color
  );
}

.violet.primary {
  @include primary(
    $violet,
    $violet-dark,
    $violet-darker,
    $blue-darkest,
    $violet-lighter,
    $violet-light,
    $blue-darkest
  );
}

.grey.primary {
  @include primary(
    $grey-light,
    $grey-dark,
    $grey-darker,
    $blue,
    $grey-lighter,
    $grey-lightest,
    $blue
  );
}

.grey.secondary {
  @include secondary(
    $grey-light,
    $grey-dark,
    $grey-light,
    $grey-darkest,
    $grey-lighter,
    $grey-lightest,
    $grey-darkest
  );
}

@mixin icon-button($size) {
  border-radius: $size;
  height: $size;
  width: $size;
}

@mixin small {
  font-size: 0.8125rem;
  line-height: 1rem;
  min-height: $small-size;
  padding: 0 0.75rem;
  border: solid 1px transparent;

  &.iconOnlyButton {
    @include icon-button($small-size);
  }
}

@mixin medium {
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: $medium-size;
  padding: 0 1rem;

  &.iconOnlyButton {
    @include icon-button($medium-size);
  }
}

.small {
  @include small;
}

.medium {
  @include medium;
}

.responsive {
  @include small;

  @media (min-width: 768px) {
    @include medium;
  }
}

.large {
  font-size: 1.125rem;
  line-height: 1.375rem;
  min-height: $large-size;
  padding: 0 2rem;

  &.iconOnlyButton {
    @include icon-button($large-size);
  }
}

.iconOnlyButton {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.super {
  border-radius: 20px;
  padding: 2.5rem;
  width: 100%;
  color: $white !important;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: $text-xl;
  font-family: $font-primary;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:active {
    transform: scale3d(0.95, 0.95, 1);
  }

  &:hover {
    background-color: $blue;
  }

  &:disabled {
    background-color: $black-alpha-3;
    cursor: not-allowed;
  }
}
