@import "styles/variables/fonts";
@import "styles/variables/colors";
@import "styles/mixins/media";

.container {
  width: 100%;
  height: 100%;
  min-width: max-content;
  display: flex;
  flex-direction: row;

  > :first-child {
    background-color: $blue-darker;
  }
  > :last-child {
    background-color: $blue-dark;
  }
}

.iconWrapper {
  border: 1px solid var(--icon-border-color);
  background-color: var(--icon-background-color);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
  box-sizing: border-box;
}

.votesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.votes {
  font-family: $font-primary;
  font-size: 1.625rem;
  font-weight: $weight-semibold;
}

.action {
  cursor: pointer;
  border: none;
  flex-grow: 1;
  border-top: 5px solid var(--action-color);
  color: $white;
  outline: none;
  margin: 0;
  width: 100%;
  padding: 0;
  :focus {
    outline: none;
  }
  :active {
    outline: none;
  }

  @include for-tablet-up {
    &:first-child {
      border-radius: 0 0 0 50px;
    }
    &:last-child {
      border-radius: 0 0 50px;
    }
  }
}

.actionInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--action-background-color);
  height: 100%;
  width: 100%;
  border-radius: inherit;

  @include for-tablet-up {
    padding: 1.5rem 2rem;
    flex-direction: row-reverse;
    gap: 1rem;
  }
}

.actionText {
  font-family: $font-primary;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
