@import "styles/variables/fonts";
@import "styles/variables/colors";

.legislationStatusContainer {
  border: 1px solid var(--box-color);
  background-color: var(--box-background-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 1rem 3rem;
  margin: 0.5rem;

  > h1 {
    font-family: $font-primary;
    font-weight: $weight-light;
    font-size: 1.75rem;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }
  > h3 {
    color: var(--box-color);
    font-family: $font-primary;
    font-weight: $weight-light;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0;
  }
}
