@import "styles/modules/page.module";
@import "styles/mixins/utils";

.imageContainer {
  border-radius: 250px;

  // These need !important to override NextImage
  border-width: var(--border-width) !important;
  border-color: var(--border-color) !important;
  border-style: var(--border-style) !important;

  &.opaque {
    opacity: 40%;
  }
}

.badgeText {
  align-self: center;
  margin: auto;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  line-height: 1em;
  padding-top: 1px;
}

.badgeWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: var(--badge-size);
  width: var(--badge-size);
  height: var(--badge-size);
  font-size: var(--badge-font-size);
  text-transform: uppercase;
  background: var(--badge-background);
  color: var(--badge-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.labelLeftWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  color: var(--color);
  background: var(--background);
  font-size: $text-xs;
  line-height: 1;
  border-radius: 100px;
  padding: 0.2rem;
  font-weight: bold;
  filter: drop-shadow(0.1rem 0.1rem 0.2rem $grey-darkest);
  display: flex;
  gap: 0.25rem;
}

.iconOuter {
  margin: 0 !important;
  width: var(--icon-wrapper-size);
  height: var(--icon-wrapper-size);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--icon-top-position);
  right: var(--icon-right-position);
  border-radius: var(--icon-wrapper-size);
  border: none;
  background: var(--icon-background);
  color: var(--icon-color);
  cursor: var(--icon-cursor);

  @include dropshadow;

  &:disabled {
    cursor: default;
  }
}

.container {
  position: relative;
  padding: 0;
  margin: auto;
  display: inline-flex;
  overflow-x: visible;

  img {
    object-fit: cover;
  }
}

.iconInner {
  display: flex;
  align-self: center;
  margin: auto;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.iconWrapper {
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    img {
      min-width: calc(var(--icon-size) * 0.75);
    }
  }
}

.avatarLink {
  cursor: pointer;
  line-height: 0.5em;
}
