@import "styles/page.module";

.imageContainer {
  border-radius: 250px;
  overflow: hidden;
}

.border {
  border-width: 3px;
  border-style: solid;
  border-color: var(--bcol);
}

.badgeText {
  align-self: center;
  margin: auto;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.badgeWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: var(--avatar-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  font-size: var(--avatar-font-size);
  text-transform: uppercase;
  color: var(--white);
  background: var(--gray);
  background: var(--avatar-background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--avatar-size);
  width: var(--avatar-size);
  height: var(--avatar-size);
  font-size: var(--avatar-font-size);
  text-transform: uppercase;
  color: var(--white);
  background: var(--gray);
  background: var(--avatar-background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iconInner {
  align-self: center;
  margin: auto;
  font-weight: 600;
  justify-content: center;
  text-align: center;
}

.container {
  position: relative;
  padding: 0;
  margin: auto;
  display: inline-flex;

  img {
    object-fit: cover;
  }
}
