@import "../../styles/variables/colors.module.scss";

.menu {
  background: $blue-darkest;
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
  box-shadow: rgba(0 0 0 / 30%) 0 19px 38px, rgba(0 0 0 / 22%) 0 15px 12px;
}

.menuItem {
  background: $blue-darkest;
  color: $white;
}

.menuItemHover {
  background: $blue-dark;
  color: $white;
}
