@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";
@import "styles/mixins/media";

.mprHeader {
  margin: 3.5rem 1.5rem 0;

  @include for-tablet-up {
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  p:last-child {
    margin-top: 1.5rem;
    margin-bottom: 4rem;

    @include for-tablet-up {
      margin-top: 1.5rem;
      margin-bottom: 5rem;
    }
  }
}

.mprBody {
  margin: 2rem 1.5rem 4rem;

  @include for-tablet-up {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.mprLogo {
  @include for-tablet-up {
    margin-bottom: 3rem;
  }
}

.mprLogoImage {
  height: 2rem;
}

.subHeading {
  font-weight: 500;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid $blue-dark;
  line-height: 1.3em;
}

.racesHeading {
  font-size: 1.4em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 1.875em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.cta {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $blue-dark;

  @include for-tablet-up {
    margin-top: 2rem;
    padding-bottom: 2.5rem;
  }
}

.smsSection {
  border-top: 1px solid $blue;
  padding-top: 1.5rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  p {
    color: $blue-text;
  }

  small {
    color: $blue-text;
  }
}

form.smsForm {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 36rem;
}
