@import "styles/variables/colors";
@import "styles/variables/fonts";

.SponsorScene {
  .sponsorAvatars {
    display: flex;
    margin-bottom: 2rem;
  }

  .avatarContainer {
    flex: 1;
    justify-content: center;
  }

  .avatarName {
    width: 240px;
    text-align: center;
    margin-top: 1rem;
  }

  .sponsorList {
    font-size: $text-lg;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
      }
    }
  }

  .twoColumns {
    column-count: 2;
  }
}
