@import "styles/mixins";
@import "styles/variables/colors.module";
@import "styles/variables/fonts.module";

.app {
  height: 100vmax;
  background: $background-primary;
  display: grid;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  grid-template-rows: auto 10fr auto;

  main {
    padding: 0.35rem;
  }

  h3 {
    font-size: $text-sm;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
  }

  @include for-tablet-landscape-up {
    grid-template-columns: 12rem 5fr;
    grid-template-areas:
      "nav     content"
      "nav     content"
      "nav     footer";
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: auto 10fr auto;
    margin: 0 auto;

    @include for-tablet-landscape-up {
      main {
        padding: 3rem;
      }
    }
  }

  input {
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;

    &.wide {
      width: 21rem;
    }
  }

  .sideText {
    color: $blue;
    font-family: $font-primary;
    letter-spacing: 0.05em;
    writing-mode: tb-rl; /* For backward compatability */
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* so text reads from bottom up */
    font-size: 0.75rem;
    width: 15px;
    text-transform: uppercase;
    align-self: center;
  }

  .roundedCard {
    flex: 0 1 auto;
    border-radius: 25px;
    border: 1px solid $blue-dark;
    background: $blue-darker;
    text-align: center;
    padding: 0.75rem;
    margin: 0 0 1.25rem 0.25rem;

    h1 {
      font-weight: 400;
    }
  }

  .inset {
    margin: 0 1rem;
  }

  .radioLabel {
    background: $background-secondary;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: translate3d(2px, 2px, 2px);
      transition: cubic-bezier(1, 0, 0, 1) all 0.3s;
    }
  }

  .content {
    max-height: 100%;
    max-width: 100vw;

    @include for-tablet-landscape-up {
      max-width: calc(100vw - 12rem);
    }
  }

  form {
    width: 100%;
  }

  input[type="radio"]:checked + label {
    background: $blue;
  }

  input[type="radio"] {
    display: none;
  }

  .wideButton {
    background: $blue;
    color: $white;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .pillSelect {
    background: transparent;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: $text-sm;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  select + svg.chevron {
    color: $blue;
    height: 1rem;
    width: 3rem;
    margin: 0;
    margin-left: -2rem;
    pointer-events: none;
    align-self: center;
  }

  hr {
    border: 1px solid $blue;
  }

  .mb3 {
    margin-bottom: 3rem;
  }

  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    max-width: max-content;
  }

  .filtersContainer {
    padding: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  .inputWithIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 0.75rem;
    width: 100%;

    input {
      margin-right: -1.5rem;
    }

    input:focus + svg {
      opacity: 0;
    }
  }

  .desktopOnly {
    @include for-phone-only {
      display: none;
    }
  }
}

.center {
  min-height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

  h4 {
    font-size: $text-sm;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0 0.375rem;

    @include clamp-ellipsis;
  }
}

.rowItem {
  font-family: $font-secondary;
  font-weight: $weight-normal;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid $blue-dark;
  cursor: pointer;
  height: 100%;

  &:hover {
    background: $background-secondary;
    transition: ease-in-out all 0.25s;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr 15fr;
  }

  .politicianInfo {
    display: flex;
    flex-direction: column;

    .bold {
      text-transform: uppercase;
      color: $blue-text;
    }

    @include for-tablet-landscape-up {
      display: grid;
      grid-template-columns: 8fr 4fr 4fr;
      width: 100%;
      align-items: center;

      > span {
        justify-self: right;
      }
    }
  }
}
