@import "styles/mixins/media";
@import "styles/mixins/utils";
@import "styles/variables/colors";
@import "styles/variables/fonts";

.app {
  height: 100%;
  background: $background-primary;
  display: grid;
  grid-template-areas:
    "nav"
    "subnav"
    "content"
    "footer"
    "actions";
  grid-template-rows: auto 10fr auto auto;

  @include for-tablet-up {
    grid-template-columns: 12rem 5fr;
    grid-template-areas:
      "nav     subnav"
      "nav     content"
      "nav     footer";
    margin: 0 auto;
  }

  .content {
    grid-area: content;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    position: relative;
    overflow: hidden;

    a {
      color: $blue-lighter;
      font-weight: 400;
    }

    a:hover {
      color: $blue-light;
    }

    @include for-tablet-up {
      padding: 5rem 0;
      margin: 0 auto;
      width: calc(100vw - 24rem);
      position: unset;
    }
  }

  .radioLabel {
    background: $background-secondary;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.aquaLabel {
      border: 1px solid $aqua;
    }

    &.yellowLabel {
      border: 1px solid $yellow;
    }

    &.salmonLabel {
      border: 1px solid $salmon;
    }

    &:hover {
      transform: translate3d(2px, 2px, 2px);
      transition: cubic-bezier(1, 0, 0, 1) all 0.3s;
    }
  }

  form {
    width: 100%;
  }

  input {
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;

    &.wide {
      width: 21rem;
    }
  }

  input[type="radio"]:checked + label {
    &.aquaLabel {
      background: $aqua;
      color: $grey-darkest;
    }

    &.yellowLabel {
      background: $yellow;
      color: $grey-darkest;
    }

    &.salmonLabel {
      background: $salmon;
      color: $grey-darkest;
    }
  }

  input[type="radio"] {
    display: none;
  }

  .wideButton {
    background: $blue;
    color: $white;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .pillSelect {
    background: transparent;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 2rem;
    width: 100%;
    cursor: pointer;
    font-size: $text-sm;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    @include for-tablet-up {
      width: fit-content;
    }
  }

  select + svg.chevron {
    font-size: 1em;
    color: $blue;
    height: 1rem;
    width: 2rem;
    margin: 0;
    margin-left: -2rem;
    pointer-events: none;
  }

  hr {
    border: 1px solid $blue;
  }

  .mb1 {
    margin-bottom: 1rem;
  }

  .mb3 {
    margin-bottom: 3rem;
  }

  .flexBetween {
    @include flex-between(0.5rem);
  }

  .flexLeft {
    display: flex;
    align-items: center;
  }

  .filtersContainer {
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  .inputWithIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 0.75rem;
    width: 100%;

    input {
      margin-right: -2rem;
    }

    input:focus + svg {
      opacity: 0;
    }
  }

  .desktopOnly {
    @include for-phone-only {
      display: none;
    }
  }
}

.center {
  display: grid;
  place-items: center;
}

.rowItem {
  font-family: $font-secondary;
  font-weight: $weight-normal;
  color: $white;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid $blue-dark;
  cursor: pointer;
  height: 100%;

  &:hover {
    background: $background-secondary;
    transition: ease-in-out all 0.3s;
    color: $blue-text;
  }

  @include for-tablet-up {
    display: grid;
    grid-template-columns: 1fr 15fr;
  }

  .politicianInfo {
    display: flex;
    flex-direction: column;

    .bold {
      text-transform: uppercase;
      color: $blue-text;
    }

    @include for-tablet-up {
      display: grid;
      grid-template-columns: 8fr 4fr 4fr;
      width: 100%;
      align-items: center;

      > span {
        text-align: right;
      }
    }
  }
}
