@import "../../styles/mixins";
@import "../../styles/variables/colors.module";
@import "../../styles/variables/fonts.module";

.app {
  background: $background-primary;
  display: grid;
  grid-template-areas:
    "nav"
    "content"
    "footer";
  grid-template-rows: auto 10fr auto;

  @include for-tablet-landscape-up {
    grid-template-columns: 180px 5fr;
    grid-template-areas:
      "nav     content"
      "nav     content"
      "nav     footer";
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: auto 10fr auto;
    margin: 0 auto;

    @include for-tablet-portrait-up {
      main {
        padding: 1.5rem;
      }
    }
  }

  input {
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: $mobile-breakpoint;

    &.wide {
      width: 21rem;
    }
  }

  .radioLabel {
    appearance: button;
    background: $background-secondary;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;

    &:hover {
      transform: translate3d(2px, 2px, 2px);
      transition: cubic-bezier(1, 0, 0, 1) all 0.3s;
    }
  }

  form {
    width: 100%;
  }

  input[type="radio"]:checked + label {
    background: $blue;
  }

  input[type="radio"] {
    display: none;
  }

  button {
    background: $blue;
    color: $white;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  select {
    background: transparent;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  hr {
    border: 1px solid $blue;
  }

  .mb3 {
    margin-bottom: 3rem;
  }

  .flexBetween {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .filtersContainer {
    padding: 1rem;
    border-bottom: 1px solid $blue-dark;

    > * {
      max-width: $mobile-breakpoint;
    }
  }

  .inputWithIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 0.75rem;
    width: 100%;

    input {
      margin-right: -1.5rem;
    }

    input:focus + svg {
      opacity: 0;
    }
  }

  .verticalDivider {
    border-left: 1px solid $blue;
    margin: 0 1rem;
  }
}

.rowItem {
  font-family: $font-secondary;
  font-weight: $weight-normal;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid $blue-dark;
  cursor: pointer;
  height: 100%;

  &:hover {
    background: $background-secondary;
    transition: ease-in-out all 0.25s;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 1fr 15fr;
  }

  .politicianInfo {
    display: flex;
    flex-direction: column;

    .bold {
      text-transform: uppercase;
      color: $blue-text;
    }

    @include for-tablet-landscape-up {
      display: grid;
      grid-template-columns: 8fr 4fr 4fr;
      width: 100%;
      align-items: center;

      > span {
        justify-self: right;
      }
    }
  }
}
