@import "styles/mixins";
@import "styles/variables/colors.module";
@import "styles/variables/fonts.module";

.app {
  height: 100%;
  background: $background-primary;
  display: grid;
  
  grid-template-areas:
    "nav"
    "content"
    "footer";
  grid-template-rows: auto 10fr auto;

  @include for-tablet-up {
    grid-template-columns: 12rem 5fr;
    grid-template-areas:
      "nav     content"
      "nav     content"
      "nav     footer";
    margin: 0 auto;
  }

  .content {
    grid-area: content;
    max-height: 100%;
    max-width: 100vw;
    // padding-top: 2rem;

    @include for-tablet-up {
      padding: 5rem 0rem;
      margin: 0 auto;
      width: calc(100vw - 24rem);
      // max-width: 1400px;
    }
  }

  .roundedCard {
    flex: 0 1 auto;
    border-radius: 25px;
    border: 1px solid $blue-dark;
    background: $blue-darker;
    text-align: center;
    padding: 1rem;
    margin: 0 0 1.25rem 0;

    h1 {
      font-weight: 400;
    }
  }

  .inset {
    margin: 0 0.5rem;
    @include for-tablet-up {
      margin: 0 0rem;
    }
  }

  .radioLabel {
    background: $background-secondary;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      transform: translate3d(2px, 2px, 2px);
      transition: cubic-bezier(1, 0, 0, 1) all 0.3s;
    }
  }

  form {
    width: 100%;
  }

  input {
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;

    &.wide {
      width: 21rem;
    }
  }

  input[type="radio"]:checked + label {
    background: $blue;
  }

  input[type="radio"] {
    display: none;
  }

  .wideButton {
    background: $blue;
    color: $white;
    border-radius: 25px;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
  }

  .pillSelect {
    background: transparent;
    color: $white;
    border-radius: 25px;
    border: 1px solid $blue;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: $text-sm;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
  }

  select + svg.chevron {
    color: $blue;
    height: 1rem;
    width: 3rem;
    margin: 0;
    margin-left: -2rem;
    pointer-events: none;
    align-self: center;
  }

  hr {
    border: 1px solid $blue;
  }

  .mb3 {
    margin-bottom: 3rem;
  }

  .flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .filtersContainer {
    padding: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  .inputWithIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 0.75rem;
    width: 100%;

    input {
      margin-right: -1.5rem;
    }

    input:focus + svg {
      opacity: 0;
    }
  }

  .desktopOnly {
    @include for-phone-only {
      display: none;
    }
  }
}

.center {
  min-height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  min-width: 5rem;
  min-height: 5rem;
}

.avatarName {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 0.5rem 0 0.2rem;
  line-height: 1.3em;

  @include clamp-ellipsis;
}

.rowItem {
  font-family: $font-secondary;
  font-weight: $weight-normal;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid $blue-dark;
  cursor: pointer;
  height: 100%;

  &:hover {
    background: $background-secondary;
    transition: ease-in-out all 0.25s;
  }

  @include for-tablet-up {
    display: grid;
    grid-template-columns: 1fr 15fr;
  }

  .politicianInfo {
    display: flex;
    flex-direction: column;

    .bold {
      text-transform: uppercase;
      color: $blue-text;
    }

    @include for-tablet-up {
      display: grid;
      grid-template-columns: 8fr 4fr 4fr;
      width: 100%;
      align-items: center;

      > span {
        text-align: right;
      }
    }
  }
}

.link {
  cursor: pointer;

  &:hover {
    color: $blue-text;
    text-decoration: dotted underline;
  }
}


