@import "styles/layout/containers";
@import "styles/variables/fonts";
@import "styles/variables/colors";

.widgetContainer {
  main {
    min-height: 12rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;

    .formFooter {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1.5rem 0 1rem;
    }

    button {
      width: 25%;
    }

    .prompt {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.75rem;
      margin: 1rem 1rem;
    }
  }
}

.questionWidgetDivider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--grey-lighter);
  margin: 1rem 0;
}

.nameEmailContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}
