@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.mprLogo {
  margin-bottom: 4rem;
}

.mprLogoImage {
  height: 2rem;
}

.subHeading {
  font-weight: 500;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid $blue-dark;
}

.racesHeading {
  text-transform: uppercase;
  margin-bottom: 0;
}

.racesDescription {
  color: $blue-lighter;
  font-size: $text-md;
  margin-top: 0;
}
