@import "../../components/BillCard/BillCard.module.scss";
@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";

.billCard {
  border: 1px solid $grey;
  background: $grey-lighter;
  max-width: none;
  width: 512px;
  height: fit-content;
  text-align: center;
  margin: 0;

  header,
  section:not(:last-child) {
    border-bottom: 1px solid $grey;
    width: 100%;
  }

  a {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .header {
    background: $grey-light;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    > * {
      padding: 1.5rem;
    }

    h2,
    h4 {
      margin: 0 0 1.5rem;
    }

    h4 {
      font-size: $text-sm;
      font-weight: 500;
    }

    .sponsors {
      border-top: 1px solid $grey;
      width: 100%;

      .sponsorsScroller {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        @include scroll-snap;
      }
    }
  }

  .description {
    p {
      font-size: $text-md;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .footer {
    padding: 1rem;
  }
}

.error {
  color: $red;
  font-size: $text-md;
  font-weight: 500;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.branding {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.poweredBy {
  font-size: 13px;
  font-style: italic;
  color: $grey;
}
