@import "../../components/BillCard/BillCard.module.scss";
@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.billCard {
  width: auto;
  height: auto;
  min-width: 27rem;
  border: 1px solid $grey-light;
  background: $grey-lightest;
  text-align: center;
  max-width: none;

  section {
    padding: 0;
    width: 100%;
  }

  header,
  section:not(:last-child) {
    width: 100%;
  }

  a {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .header {
    background: $grey-lighter;
    font-family: $font-primary;
    border-bottom: 1px solid $grey-light;
  }

  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    .title {
      line-height: 1.4em;
      padding-bottom: 0.25rem;
    }

    h2 {
      font-family: $font-secondary;
      margin-top: 1rem;
      margin-bottom: 0 !important;
    }

    h4 {
      font-size: $text-xxs !important;
      font-weight: 500;
      margin: 0 0 0.75rem;
    }

    p {
      font-size: $text-sm !important;
    }

    .sponsors {
      width: 100%;
      padding: 1rem 0.75rem 1.25rem;
      border-top: 1px solid $grey-light;

      .sponsorsScroller {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: top;

        @include scroll-snap;
      }
    }
  }

  .summaryContainer {
    padding-top: 0 !important;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-light;

    .description {
      text-align: left;
      margin-bottom: 0.25rem;
      max-height: 100px;
      overflow: scroll;

      p {
        margin: 0.5rem 0;
        line-height: 1.5em;
      }
    }
  }

  .info {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .votes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.error {
  color: $red;
  font-size: $text-md;
  font-weight: 500;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.statusAndVotesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0;
  padding: 0 0.75rem 1.25rem !important;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1rem;
  flex-grow: 1;
  height: 100%;
}

.status {
  background: var(--status-background);
  border: 1px solid var(--status-border);
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: $font-primary;
  font-size: $text-xs;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.3em;
  padding: 1rem;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

.overflowGradient {
  position: relative;
  padding: 0 0.75rem;
}

.overflowGradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient($grey-lightest, rgba(238, 238, 238, 0));
}

.overflowGradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient(rgba(238, 238, 238, 0), $grey-lightest);
}
