@import "../../components/BillCard/BillCard.module.scss";
@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.billCard {
  width: auto;
  height: 40rem;
  border: 1px solid $grey-light;
  background: $grey-lightest;
  text-align: center;
  max-width: none;

  header,
  section:not(:last-child) {
    width: 100%;
  }

  a {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .header {
    background: $grey-lighter;
    font-family: $font-primary;
    border-bottom: 1px solid $grey-light;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    > * {
      padding: 1.5rem 1rem;
    }

    .title {
      margin-bottom: 1rem;
      margin-top: 0;
      line-height: 1.4em;
    }

    h2 {
      font-family: $font-secondary;
    }

    h4 {
      font-size: $text-sm !important;
      font-weight: 500;
      margin: 0 0 1.5rem;
    }

    p {
      font-size: $text-sm !important;
    }

    .sponsors {
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
      width: 100%;

      .sponsorsScroller {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: top;

        @include scroll-snap;
      }
    }
  }

  .description {
    text-align: left;
    margin-bottom: 1rem;
    max-height: 100px;
    overflow: scroll;

    p {
      margin: 0;
    }
  }

  .info {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .votes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      width: 100%;
    }
  }

  .footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.error {
  color: $red;
  font-size: $text-md;
  font-weight: 500;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.branding {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.poweredBy {
  font-size: 13px;
  font-style: italic;
  color: $grey;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
