@import "../../components/BillCard/BillCard.module.scss";
@import "../../components/Button/Button.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.billCard {
  width: auto;
  height: 36rem;
  border: 1px solid $grey;
  background: $grey-lighter;
  text-align: center;
  max-width: none;

  header,
  section:not(:last-child) {
    border-bottom: 1px solid $grey;
    width: 100%;
  }

  a {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .header {
    background: $grey-light;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    > * {
      padding: 1.5rem;
    }

    h2,
    h4 {
      margin: 0 0 1.5rem;
    }

    h4 {
      font-size: $text-sm !important;
      font-weight: 500;
    }

    p {
      font-size: $text-sm !important;
    }

    .sponsors {
      border-top: 1px solid $grey;
      width: 100%;

      .sponsorsScroller {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        @include scroll-snap;
      }
    }
  }

  .description {
    @include clamp-ellipsis(10);

    margin-bottom: 0.75rem;
  }

  .info {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .votes {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid $grey;
    justify-content: center;
  }
}

.error {
  color: $red;
  font-size: $text-md;
  font-weight: 500;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.branding {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.poweredBy {
  font-size: 13px;
  font-style: italic;
  color: $grey;
}
