@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.container {
  width: 100%;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 1rem 1.5rem;
  color: white;
  overflow: auto;

  .addButton {
    visibility: hidden;
  }

  table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
  }

  thead {
    text-align: left;
    left: 0;
    z-index: 1;
    color: $white;
    font-weight: bold;
    font-family: $font-secondary;
    border-bottom: 1px solid var(--border-color);
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color);
    }
    tr.selected {
      background: var(--selected-row-color);
      &:hover {
        background: var(--selected-row-color);
      }
    }
    tr:hover {
      background: $black-alpha-3;
      cursor: pointer;
      .addButton {
        visibility: visible;
      }
    }
  }

  th,
  td {
    padding: 0.75rem;
  }

  td:first-child {
    color: var(--text-color);
    font-weight: 500;
  }

  td:not(:first-child) {
    color: var(--text-color);
    font-weight: 400;
  }

  .tableMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    a {
      background: rgba(142 234 120 / 0.05);
      border-radius: 30px;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      font-weight: 300;
      color: $salmon;
    }

    small {
      font-size: 0.8rem;
      color: $grey-dark;
    }
  }
}

.pageIndex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 1rem;

  button {
    background: transparent;
    border: none;
    color: $blue;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: $text-sm;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .pageDots {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    svg {
      cursor: pointer;
    }
  }
}

.sortableHeader {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
}
