@import "styles/variables/colors";
@import "styles/layout/containers";
@import "styles/mixins/utils";
@import "styles/mixins/media";

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;

  @include for-tablet-down {
    max-width: 360px;
  }

  .introduction {
    h1 {
      font-size: 3em;
      font-weight: 500;
      margin-top: 4rem;
    }

    p {
      margin-bottom: 3rem;
    }
  }

  section {
    width: 100%;
  }

  .questionsSection {
    h2 {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.5em;
      margin-bottom: 1.75rem;
    }

    textarea {
      height: 12rem;
    }
  }

  .question {
    margin-bottom: 3rem;
  }
}

.branding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  width: max-content;
  align-items: center;
  margin: 3rem auto;

  .poweredBy {
    font-size: 2em;
    font-style: italic;
    color: $white;
  }

  @include for-tablet-down {
    max-width: 360px;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    .poweredBy {
      font-size: 1.2em;
    }
  }
}

.officeHeader {
  align-items: baseline;

  h3:first-child {
    border-right: 1px solid $blue;
  }
}

.officeName {
  font-size: 1.75em;
  font-weight: 400;
  padding-right: 1.25rem;

  @include for-tablet-down {
    font-size: 1.2em;
  }
}
.officeSubtitle {
  padding-left: 1.25rem;
  font-size: 1.25em;
  text-transform: uppercase;

  @include for-tablet-down {
    font-size: 1em;
  }
}

.poweredBySection {
  margin-top: 5rem;

  p {
    width: 800px;
    font-style: italic;
    color: $blue-lighter;
  }

  @include for-tablet-down {
    max-width: 360px;
    margin-top: 0;

    p {
      max-width: 360px;
      margin-bottom: 2rem;
    }
  }
}

.raceContainer {
  width: 800px;
  margin: auto;
  @include for-tablet-down {
    max-width: 360px;
  }
}

.politicianAvatarUpload {
  padding: 2rem 0 0;

  p {
    width: 800px;
    font-style: italic;
    color: $blue-lighter;
    margin-bottom: 3rem;
  }

  h2 {
    text-align: center;
    margin-top: 0;
  }

  hr {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  @include for-tablet-down {
    padding: 1rem 0;
    max-width: 360px;

    p {
      max-width: 360px;
      margin-bottom: 2rem;
    }

    hr {
      margin-top: 3rem;
    }
  }
}

.submissionConfirmedSection {
  hr {
    margin-top: 4rem;
  }
}
