@import "styles/mixins/media";
@import "styles/mixins/utils";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.legislationVideo {
  display: flex;
  flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  padding: 8rem 4rem; // 120pt 40pt
  //   gap: 4rem;
  width: 100%;

  .mainHeader {
    h3 {
      color: white;
      font-size: 2.5rem;
      margin: 2rem 0;
    }

    h2 {
      width: 100%;
    }
    hr {
      border: 1px solid white;
      opacity: 0.1;
      width: 100%;
    }
  }

  .tag {
    width: 140pt;
    height: 40pt;
    padding: 24pt 14pt;
    border-radius: 32pt;
    background-color: #003c55;
    font-family: "proxima_nova";
    font-size: 2.25rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bigTag {
    width: 48rem; // 270pt
    height: 12rem; // 68pt
    padding: 1.25rem 1.875rem; // 20pt 30pt
    border-radius: 3.75rem;
    border: 4px solid #ffb45c;
    background-color: rgba(255, 180, 92, 0.1); // 10% opacity
    font-family: "commuter_sans";
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
}
