// @import "styles/mixins/media";
@import "styles/mixins/utils";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.legislationVideo {
  font-size: 2.25em;
  display: flex;
  flex-direction: column;
  padding: 8rem 5rem 30rem 5rem;
  position: relative;

  h1 {
    font-size: $text-xxxl;
    font-weight: $weight-semibold;
  }

  hr {
    border: 1px solid white;
    opacity: 0.1;
    width: 100%;
  }

  p {
    font-size: $text-xl;
    color: $blue-text-light;
  }

  .statusContainer {
    max-width: 600px;
    h1 {
      font-size: $text-xl;
      font-weight: $weight-light;
    }
  }

  .issueTags {
    margin: 1rem 0;
    font-size: $text-sm;
  }

  .bottomContainer {
    margin-top: auto;

    .badgeContainer {
      font-size: $text-lg;
    }
  }

  .mainHeader {
    h3 {
      font-size: $text-md;
      margin: 2rem 0;
    }

    h2 {
      font-size: $text-lg;
      width: 100%;
    }
  }

  .sponsorList {
    font-size: $text-md;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      padding-left: 40px;
    }

    li::before {
      content: "•";
      position: absolute;
      left: 0;
      top: -32px;
      font-size: 5rem;
    }
  }
}
