@import "styles/variables/colors";

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fixedHeightOptionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 1rem;

  .fixedHeightOption {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
  }
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--blue-dark);
  margin: 0.5rem 0;
}
