@import "styles/mixins/media";
@import "styles/mixins/utils";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.sideText {
  color: $blue;
  font-family: $font-primary;
  letter-spacing: 0.05em;
  writing-mode: tb-rl; /* For backward compatability */
  writing-mode: vertical-rl;
  transform: rotate(180deg); /* so text reads from bottom up */
  font-size: 0.75em;
  width: 15px;
  text-transform: uppercase;
  align-self: center;
}

.guideHelper {
  width: fit-content;
  border: 1px solid $yellow;
  border-radius: 40px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background: rgba(255, 255, 4, 0.127);

  svg {
    min-width: 25px;
  }
}

.inset {
  margin: 0 0.5rem;

  @include for-tablet-up {
    margin: 0;
  }
}

.noCandidates {
  color: $blue;
  margin-top: 0.9rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flexBetween {
  @include flex-between(0);

  height: 100%;
  align-items: flex-start;
}

.raceContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0.5rem;
}

.electionHeader {
  padding: 2rem 1.5rem;

  h1 {
    font-weight: 500;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $blue-dark;
  }

  h4 {
    font-size: 1.25em;
    margin-top: 1rem;
    margin-bottom: 0;

    @include for-tablet-up {
      font-size: 1.875em;
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1rem;
    color: $blue-lighter;
    margin-bottom: 1rem;
  }

  small {
    font-size: 0.85em;
    color: $aqua;
  }

  @include for-tablet-up {
    padding: 3rem 0;
  }
}

.raceHeader {
  margin-left: 0.5rem;
  margin-top: 1rem;

  @include for-tablet-up {
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: 0.75rem;

    @include for-tablet-up {
      font-size: 1.5em;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    span:first-child {
      font-weight: 400;
      padding-right: 0.8rem;

      @include for-tablet-up {
        padding-right: 1rem;
      }
    }
    span:last-child {
      font-weight: 400;
      margin-left: 0;
      padding-left: 0.8rem;

      @include for-tablet-up {
        padding-left: 1rem;
      }
    }
  }

  &.aqua {
    h3 span:first-child {
      border-right: 1px solid $aqua;
    }
  }
  &.salmon {
    h3 span:first-child {
      border-right: 1px solid $salmon;
    }
  }
  &.yellow {
    h3 span:first-child {
      border-right: 1px solid $yellow;
    }
  }
  &.violet {
    h3 span:first-child {
      border-right: 1px solid $violet;
    }
  }
}

.raceHeader:first-child {
  margin-top: 0;

  @include for-tablet-up {
    margin-top: 1rem;
  }
}

.raceSubheader {
  font-size: 0.7em;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 0.75em;
  }
}

.errorNote {
  padding: 1rem;
  color: $blue-lighter;
}

.votingGuideAuthor {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 2rem;
}

.ballotMeasuresButton {
  margin: -1rem 1rem 4rem;

  @include for-tablet-up {
    margin: -2rem 0 5rem;
  }
}

.center {
  display: grid;
  place-items: center;
  height: 75vh;
}

.avatarContainer {
  width: 100px;
}
