@import "../../styles/variables/colors.scss";

.container {
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: center;
  width: var(--box-width);
  padding: var(--box-padding);
  background-color: $blue-darker;
  border-radius: 30px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  &:hover {
    transition: ease-in-out 0.2s;
    box-shadow: var(--box-hover-shadow);
    color: white;
  }
}
