@import "../../styles/variables/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $blue-darker;
  border-radius: 30px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
