$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$blue-text: var(--blue-text);
$blue-lighter: var(--blue-lighter);
$blue-light: var(--blue-light);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
$blue-darker: var(--blue-darker);
$blue-darker-2: var(--blue-darker-2);
$blue-darkest: var(--blue-darkest);
$red: var(--red);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$green: var(--green);
$green-support: var(--green-support);
$aqua: var(--aqua);
$aqua-dark: var(--aqua-dark);
$violet: var(--violet);
$violet-dark: var(--violet-dark);
$salmon: var(--salmon);
$orange: var(--orange);
$purple: var(--purple);
$white: var(--white);
$grey-darkest: var(--grey-darkest);
$grey-darker: var(--grey-darker);
$grey-dark: var(--grey-dark);
$grey: var(--grey);
$grey-light: var(--grey-light);
$grey-lighter: var(--grey-lighter);
$grey-lightest: var(--grey-lightest);
$black: var(--black);
$dark-brown: var(--dark-brown);
