$text-primary: var(--white);
$text-secondary: var(--blue-text);
$background-primary: var(--blue-darkest);
$background-secondary: var(--blue-darker);
$blue-text: #55a3bd;
$blue-light: #8ed7ee;
$blue: #006586;
$blue-dark: #003c55;
$blue-darker: #002b41;
$blue-darkest: #002135;
$red: #d64646;
$yellow: #ffe45c;
$green: #8eea78;
$green-support: #46b918;
$aqua: #6ee1ba;
$violet: #c3b1e5;
$salmon: #e78f84;
$orange: #ffb45c;
$purple: #8f77bb;
$white: #fff;
$grey-darkest: #333;
$grey-darker: #666;
$grey-dark: #999;
$grey: #aaa;
$grey-light: #ccc;
$grey-lighter: #ddd;
$grey-lightest: #eee;
$black: #002135;
