$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$blue-text: var(--blue-text);
$blue-text-light: var(--blue-text-light);
$blue-lighter: var(--blue-lighter);
$blue-light: var(--blue-light);
$blue: var(--blue);
$blue-alpha-1: var(--blue-alpha-1);
$blue-dark: var(--blue-dark);
$blue-darker: var(--blue-darker);
$blue-darker-2: var(--blue-darker-2);
$blue-dark-alpha-8: var(--blue-dark-alpha-8);
$blue-darkest: var(--blue-darkest);
$red: var(--red);
$red-alpha-1: var(--red-alpha-1);
$yellow: var(--yellow);
$yellow-dark: var(--yellow-dark);
$green: var(--green);
$green-alpha-1: var(--green-alpha-1);
$green-support: var(--green-support);
$aqua: var(--aqua);
$aqua-dark: var(--aqua-dark);
$violet-lighter: var(--violet-lighter);
$violet-light: var(--violet-light);
$violet: var(--violet);
$violet-dark: var(--violet-dark);
$violet-darker: var(--violet-darker);
$violet-alpha-1: var(--violet-alpha-1);
$salmon: var(--salmon);
$orange-lightest: var(--orange-lightest);
$orange-lighter: var(--orange-lighter);
$orange-light: var(--orange-light);
$orange: var(--orange);
$orange-dark: var(--orange-dark);
$orange-darker: var(--orange-darker);
$orange-darkest: var(--orange-darkest);
$orange-alpha-1: var(--orange-alpha-1);
$purple: var(--purple);
$white: var(--white);
$grey-darkest: var(--grey-darkest);
$grey-darker: var(--grey-darker);
$grey-dark: var(--grey-dark);
$grey: var(--grey);
$grey-alpha-1: var(--grey-alpha-1);
$grey-light: var(--grey-light);
$grey-lighter: var(--grey-lighter);
$grey-lightest: var(--grey-lightest);
$black: var(--black);
$dark-brown: var(--dark-brown);
$black-alpha-1: var(--black-alpha-1);
$black-alpha-2: var(--black-alpha-2);
$black-alpha-3: var(--black-alpha-3);
$black-alpha-4: var(--black-alpha-4);
$black-alpha-5: var(--black-alpha-5);
$black-alpha-6: var(--black-alpha-6);
$black-alpha-7: var(--black-alpha-7);
$black-alpha-8: var(--black-alpha-8);
$black-alpha-9: var(--black-alpha-9);
$white-alpha-1: var(--white-alpha-1);
$white-alpha-2: var(--white-alpha-2);
$white-alpha-3: var(--white-alpha-3);
$white-alpha-4: var(--white-alpha-4);
$white-alpha-5: var(--white-alpha-5);
$white-alpha-6: var(--white-alpha-6);
$white-alpha-7: var(--white-alpha-7);
$white-alpha-8: var(--white-alpha-8);
$white-alpha-9: var(--white-alpha-9);
