@mixin clamp-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin dropshadow {
  filter: drop-shadow(3px 6px 3px rgba(0 0 0 / 0.5));
}

@mixin override-button-styles {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  :focus {
    border: none;
  }
}

@mixin flex-between($gap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
  flex-wrap: wrap;
}

@mixin scroll-snap {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;

  > * {
    scroll-snap-align: center;
  }
}
