@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.widgetContainer {
  padding: 0 1rem;

  main {
    padding: 0;
  }

  footer {
    padding: 0;
  }

  h4 {
    margin-top: 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0.5rem;
  }

  .officeDisplay {
    font-size: $text-sm;
    font-style: italic;
  }

  .socials {
    flex-direction: row;
    justify-content: center;

    svg {
      font-size: 25px;
      color: $grey-dark;
      transition: ease-in-out 0.2s;
      margin: 0 0.75rem;

      &:hover {
        color: $blue;
      }
    }
  }

  .politicianName {
    font-size: $text-md;
    font-weight: 400;
    margin: 0.5rem 0 0.25rem;
    font-family: $font-secondary;
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid $grey-light;
    margin: 0;
  }

  .endorsementSection {
    width: 100%;

    h4 {
      font-size: $text-xxs;
      font-weight: 500;

      .endorsementsCount {
        color: $blue;
        padding: 0 0.2rem;
      }
    }

    .endorsementList {
      width: inherit;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow: scroll;
      margin-top: 0.25rem;

      a:first-child {
        margin-left: auto;
      }
      a:last-child {
        margin-right: auto;
      }
    }

    .endorsementContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70px;

      .endorserLabel {
        @include clamp-ellipsis(2);

        font-size: $text-xs;
        margin-top: 0.25rem;
        text-align: center;
        color: $grey-darkest;
        max-width: 70px;
        word-wrap: break-word;
      }
    }

    .infoCircleContainer {
      display: inline;
      position: relative;
      cursor: pointer !important;

      .infoCircle {
        position: absolute;
        top: -1px;
        left: 0.5rem;
        color: $blue;
      }
    }

    .endorsementsInfoContainer {
      display: block;
      position: relative;
      width: 75%;
      .endorsementsInfo {
        position: absolute;
        top: -5px;
        z-index: 1005;
        padding: 0.5rem 0.75rem;
        background-color: $grey-lighter;
        color: $grey-darkest;
        font-size: $text-xs;
        text-align: center;
        border-radius: 0.5rem;
        border: solid 1px $grey-light;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
      }
    }
  }

  .upcomingRaceSection {
    display: flex;
    gap: 1.25rem;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h4 {
      font-size: $text-xxs;
      font-weight: 500;

      .electionDate {
        color: $blue;
        padding: 0 0.2rem;
      }
    }

    .raceBox {
      background: $grey-lighter;
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: 1px solid $grey-light;
      color: $blue;

      h3 {
        margin: 0;
        font-size: $text-md;
        font-weight: 500;
      }

      h4 {
        margin-bottom: 0.25rem;
      }
    }
  }

  .statsSection {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    h4 {
      font-size: $text-xxs;
      font-weight: 500;
    }

    .dotSpreadEmbed {
      span {
        font-size: $text-sm;
        font-weight: 500;
        color: #444;
      }
    }
    .bioContainer {
      // margin-top: 0.25rem;
      .description {
        text-align: left;
        margin-bottom: 0.25rem;
        max-height: 90px;
        overflow: scroll;

        p {
          font-size: $text-sm;
          font-weight: 400;
          line-height: 1.5em;
          margin-top: 0.5rem;
        }
      }

      .overflowGradient {
        position: relative;
        padding: 0;
      }

      .overflowGradient::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        background: linear-gradient($grey-lightest, rgba(238, 238, 238, 0));
      }

      .overflowGradient::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        background: linear-gradient(rgba(238, 238, 238, 0), $grey-lightest);
      }

      button {
        margin: 0.5rem auto -0.5rem;
        padding: 0;
      }
    }

    .bioContainer:first-child {
      margin-top: -0.5rem;
    }
  }

  .emptySection {
    font-family: "commuters_sans", sans-serif;
    font-size: $text-xxs;
    font-weight: 400;
    color: $grey-dark;
  }

  .emptySectionWithTitle {
    font-family: "commuters_sans", sans-serif;
    font-size: $text-xxs;
    font-weight: 400;
    color: $grey-dark;
    margin: 0.5rem auto;
  }
}
