@import "styles/mixins.scss";
@import "styles/variables/colors.module.scss";

.sectionContent {
  padding: 0 1.125rem;
  width: 100%;
}

.infoCommitteeWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: solid 1px $blue-dark;

  @include for-desktop-up {
    padding: 2.5rem 0;

    section {
      justify-content: start !important;
      width: calc(50% - 1rem);
      box-sizing: border-box;
      border-bottom: none;

      &.committees {
        border-left: solid 1px $blue-dark;
        margin-left: 1rem;
        padding-left: 1rem;
        padding-top:0;
        padding-bottom:0;
      }

      &.wide {
        margin: 0 auto;
        width: 50rem;
      }

      &.basicInfo {
        padding-top:0;
        padding-bottom:0;
      }
    }
  }
}

.links {
  font-size: 1.875rem;
  gap: 1.875rem;
  display: flex;
  margin-top: 2rem;

  a {
    cursor: pointer;
    color: $blue !important;
  }
}

.endorsementSection {
  padding: 1rem 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: solid 1px $blue-dark;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }
}
