@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/modules/page.module";
@import "styles/layout/containers";

.sectionContent {
  padding: 0 1.125rem;
  width: 100%;
}

.avatarContainer {
  margin: 0 1rem;
}

.infoCommitteeWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: solid 1px $blue-darker;

  @include for-tablet-up {
    padding: 2.5rem 0;
    border-top: solid 1px $blue-dark;

    section {
      &.committees {
        margin-left: 1rem;
        padding-left: 1rem;
        padding-bottom: 0;
      }

      &.wide {
        margin: 0 auto;
        width: 100%;
      }

      &.basicInfo {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

.committees {
  @include for-tablet-down {
    border-top: solid 1px $blue-darker;
    border-left: solid 1px $blue-darker;
  }
}

.links {
  font-size: 1.875rem;
  gap: 1.875rem;
  display: flex;
  margin-top: 2rem;

  a {
    cursor: pointer;
    color: $blue !important;
  }
}

.endorsementSection {
  padding: 1rem 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: solid 1px $blue-dark;
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;

    @include for-tablet-down {
      border-bottom: solid 1px $blue-darker;
    }
  }
}
