@import "styles/variables/colors";

.container {
  border-radius: 50px;
  padding: 9px 14px;
  border: 1px solid var(--color);
  background-color: var(--background-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: fit-content;

  &.selected {
    background-color: var(--color);
    color: var(--text-color);
  }

  &.clickable {
    cursor: pointer;
  }
}
