@import "styles/variables/colors";
@import "styles/variables/fonts";

$large-size: 3.125rem;
$medium-size: 2.5rem;
$small-size: 1.825rem;

.container {
  border-radius: 50px;
  padding: 9px 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: fit-content;

  &.primary {
    font-family: $font-primary;
  }

  &.secondary {
    font-family: $font-secondary;
  }

  &.blue {
    background: rgba(143, 167, 216, 0.1);
    border: 1px solid $blue;
    color: $white;

    &.selected {
      background: $blue;
      color: $white;
    }
  }

  &.violet {
    background: rgba(167, 143, 216, 0.1);
    border: 1px solid $violet;
    color: $white;

    &.selected {
      background: $violet;
      color: $white;
    }
  }

  &.orange {
    background: rgba(255, 167, 143, 0.1);
    border: 1px solid $orange;
    color: $white;

    &.selected {
      background: $orange;
      color: $grey-darkest;
    }
  }

  &.green {
    background: rgba(143, 216, 171, 0.2);
    border: 1px solid $green-support;
    color: $white;

    &.selected {
      background: $green;
      color: $grey-darkest;
    }
  }

  &.yellow {
    background: rgba(255, 255, 143, 0.1);
    color: $black;

    &.selected {
      background: $yellow;
      color: $black;
    }
  }

  &.red {
    background: rgba(217, 117, 117, 0.118);
    border: 1px solid $red;
    color: $white;

    &.selected {
      background: $red;
      color: $white;
    }
  }

  &.grey {
    background: $grey-lighter;
    color: $grey-darkest;
    border: 1px solid $grey-light;

    &.selected {
      background: $grey;
      color: $white;
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &.lightBackground {
    color: $grey-darkest;
  }

  &.small {
    font-size: 0.8125rem;
    line-height: 1rem;
    min-height: $small-size;
    padding: 0 0.75rem;
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: $medium-size;
    padding: 0 1rem;
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.375rem;
    min-height: $large-size;
    padding: 0 2rem;
  }
}
