/* stylelint-disable selector-class-pattern */
@import "styles/variables/colors";
@import "styles/variables/fonts";

$extra-large-size: 6rem;
$large-size: 3.125rem;
$medium-size: 2.5rem;
$small-size: 1.825rem;

.container {
  border-radius: 50px;
  padding: 10px 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: min-content;
  height: fit-content;
  white-space: nowrap;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &.primary {
    font-family: $font-primary;
  }

  &.secondary {
    font-family: $font-secondary;
  }

  &.blue {
    background: rgba(143, 167, 216, 0.1);
    border: 1px solid $blue;
    color: $white;

    &.selected {
      background: $blue;
      color: $white;
    }

    &.solid {
      background: $blue;
      color: $white;
    }
  }

  &.green {
    background: rgba(143, 216, 171, 0.1);
    border: 1px solid $green;
    color: $white;

    &.selected {
      background: $green;
      color: $grey-darkest;
    }

    &.solid {
      background: $green;
      color: $grey-darkest;
    }
  }

  &.violet {
    background: rgba(167, 143, 216, 0.1);
    border: 1px solid $violet;
    color: $white;

    &.selected {
      background: $violet;
      color: $blue-darkest;
    }

    &.solid {
      background: $violet;
      color: $blue-darkest;
    }
  }

  &.orange {
    background: rgba(255, 167, 143, 0.1);
    border: 1px solid $orange;
    color: $white;

    &.selected {
      background: $orange;
      color: $grey-darkest;
    }

    &.solid {
      background: $orange;
      color: $grey-darkest;
    }
  }

  &.green-support {
    background: rgba(143, 216, 171, 0.2);
    border: 1px solid $green-support;
    color: $white;

    &.selected {
      background: $green;
      color: $grey-darkest;
    }

    &.solid {
      background: $green;
      color: $grey-darkest;
    }
  }

  &.yellow {
    background: rgba(255, 255, 143, 0.1);
    color: $white;
    border: 1px solid $yellow;

    &.selected {
      background: $yellow;
      color: $black;
    }

    &.solid {
      background: $yellow;
      color: $black;
    }
  }

  &.red {
    background: rgba(217, 117, 117, 0.118);
    border: 1px solid $red;
    color: $white;

    &.selected {
      background: $red;
      color: $white;
    }

    &.solid {
      background: $red;
      color: $white;
    }
  }

  &.grey {
    background: $grey-lighter;
    color: $grey-darkest;
    border: 1px solid $grey-light;

    &.selected {
      background: $grey-light;
      border: 1px solid $grey;
    }

    &.solid {
      background: $grey;
      color: $white;
    }
  }

  &.aqua {
    background: rgba(143, 216, 216, 0.1);
    border: 1px solid $aqua;
    color: $white;

    &.selected {
      background: $aqua;
      color: $grey-darkest;
    }

    &.solid {
      background: $aqua;
      color: $grey-darkest;
    }
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(0.9);
    }
  }

  &.lightBackground {
    color: $grey-darkest;
  }

  &.small {
    font-size: 0.8125rem;
    line-height: 1rem;
    min-height: $small-size;
    padding: 0 0.75rem;
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: $medium-size;
    padding: 0 1rem;
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.375rem;
    min-height: $large-size;
    padding: 0 2rem;
  }

  &.extra-large {
    font-size: 2.5rem;
    line-height: 1.5rem;
    min-height: $extra-large-size;
    padding: 0 2.25rem;
  }

  .dismissButton:hover {
    cursor: pointer;
    color: $red;
    transition: ease-in-out 0.2s;
  }
}
