@import "styles/variables/colors.module.scss";

.footer {
  grid-area: footer;
  text-align: center;

  svg {
    margin: 0 1rem;
    color: $blue;

    &:hover {
      color: $white;
      transition: ease-in-out 0.3s all;
    }
  }
}
