@import "styles/variables/colors.module.scss";
@import "styles/mixins.scss";

.footer {
  grid-area: footer;
  text-align: center;
  margin: 3rem 0;

  ul {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 0 1rem;

    li {
      list-style: none;
      display: inline-block;
      position: relative;
      font-family: "commuters_sans", sans-serif;

      a {
        color: $blue-light;
        font-size: .75em;
        &:hover {
          color: $blue-lighter;
        }
      }
    }
  }

  svg {
    margin: 0 1rem;
    color: $blue;

    &:hover {
      color: $blue-light;
      transition: ease-in-out 0.3s all;
    }
  }
}
