@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/media";

$font-size: 0.8em;

.footer {
  width: 100%;
  grid-area: footer;
  margin-top: 3rem;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include for-tablet-up {
    flex-direction: row;
    justify-content: space-between;
  }

  ul {
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include for-tablet-up {
      min-width: 25%;
    }

    li {
      list-style: none;
      display: inline-block;
      position: relative;
      font-family: $font-primary;
      font-size: $font-size;

      a {
        color: $blue-light;
        &:hover {
          color: $blue-lighter;
        }
      }
    }
  }

  .links {
    align-self: center;
    @include for-tablet-up {
      min-width: 25%;
    }
  }

  .socials {
    color: $blue;
    font-size: 1.5em;
    &:hover {
      color: $blue-light;
      transition: ease-in-out 0.3s all;
    }
    @include for-tablet-up {
      justify-content: right;
    }
  }

  .copyright {
    font-size: $font-size;
    color: $blue-light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include for-tablet-up {
      font-size: 0.9em;
      min-width: 25%;
      justify-content: left;
    }
  }

  .platformStatus {
    font-size: $text-xxs;
    color: $blue-light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: $font-secondary;

    span:first-child {
      background: $black-alpha-3;
      padding: 0.5rem 0.75rem;
      border-radius: 5px;
      display: flex;
      gap: 1rem;
      align-items: center;

      .statusText {
        color: $green;
      }
    }
  }
}
