@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module";
@import "styles/mixins.scss";

$font-size: 0.85em;

.footer {
  grid-area: footer;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  ul {
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      list-style: none;
      display: inline-block;
      position: relative;
      font-family: $font-primary;
      font-size: $font-size;

      a {
        color: $blue-light;
        &:hover {
          color: $blue-lighter;
        }
      }
    }
  }

  .socials {
    color: $blue;

    &:hover {
      color: $blue-light;
      transition: ease-in-out 0.3s all;
    }
  }

  .copywright {
    font-size: $font-size;
    color: $blue-light;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
