@import "styles/variables/colors";

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--blue-dark);
  margin: 0.5rem 0;
}

.optionsGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 1.5rem;
}

.enforceCharLimitContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.charLimitInput {
  width: 75px;
  margin-left: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
