@import "styles/variables/fonts";
@import "styles/variables/colors";
@import "styles/modules/page.module.scss";
@import "styles/layout/containers";

.billContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;

  section {
    padding: 1.5rem 0.5rem;
  }

  > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $blue-dark;

    > h3 {
      font-family: $font-primary;
      font-weight: $weight-light;
      font-size: 1rem;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    > h1 {
      font-family: $font-primary;
      font-weight: $weight-semibold;
      font-size: 2rem;
      line-height: 38px;
      text-align: center;
    }
  }

  .committeesSection,
  .statusSection {
    height: 100%;
    width: 100%;
    margin: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .statusAndCommitteesSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 2px solid $blue-dark;

    h4 {
      margin-top: 0;
    }

    .committeesSection {
      padding-top: 1.5rem;
      border-top: 2px solid $blue-dark;
    }

    @include for-tablet-up {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      .committeesSection {
        padding-top: 0;
        border-top: none;
        border-left: 2px solid $blue-dark;
        height: 100%;
      }
    }
  }
  .sponsorsWrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 1rem;
    padding: 0 1rem;
    max-width: 100vw;

    @include scroll-snap;
  }
}

.buttonWrapper {
  margin-bottom: 3rem;
}
