@import "styles/variables/fonts";
@import "styles/variables/colors";
@import "styles/modules/page.module.scss";
@import "styles/layout/containers";
@import "styles/mixins/media";
@import "styles/mixins/utils";

.pageHeader {
  display: none;

  @include for-tablet-up {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 3rem;
    margin: -12rem -6rem 6rem;
    z-index: 100;
    background: linear-gradient(
      180deg,
      $blue-darkest 75%,
      rgba(0, 33, 53, 0) 100%
    );
    background-position: center bottom;
  }
}

.backLink {
  @include override-button-styles;
  span {
    font-family: $font-primary;
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-left: 1rem;
  }

  cursor: pointer;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.supportOpposeDesktopContainer {
  height: 5rem;
}

.billContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;

  section,
  header {
    padding: 1.5rem 0;
    width: 100%;
  }

  p {
    line-height: 150%;
    text-align: center;
    margin: 0;
    padding: 0.75rem;
  }

  > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $blue-dark;
    padding-bottom: 1rem;

    > h3 {
      font-family: $font-primary;
      font-weight: $weight-light;
      font-size: 1rem;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    > h1 {
      font-family: $font-primary;
      font-weight: $weight-semibold;
      font-size: 2rem;
      line-height: 38px;
      text-align: center;
    }
  }

  .committeesSection,
  .statusSection {
    height: 100%;
    width: 100%;
    margin: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .statusAndCommitteesSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 2px solid $blue-dark;

    h4 {
      margin-top: 0;
    }

    .committeesSection {
      padding-top: 1.5rem;
      border-top: 2px solid $blue-dark;
    }

    @include for-tablet-up {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      .committeesSection {
        padding-top: 0;
        border-top: none;
        height: 100%;
      }
    }
  }

  .sponsorsWrapper {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 1rem;
    padding: 1.5rem;
    max-width: 100vw;

    @include scroll-snap;
  }
}

.supportOpposeMobileContainer {
  height: 7rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  grid-area: actions;

  @include for-tablet-up {
    display: none;
  }
}
