@import "styles/variables/fonts";
@import "styles/variables/colors";
@import "styles/modules/page.module.scss";

.billContainer {
  min-width: 296px;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  > header {
    border-bottom: 2px solid $blue-dark;
    margin-bottom: 2rem;

    > h3 {
      font-family: $font-primary;
      font-weight: $weight-light;
      font-size: 1rem;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    > h1 {
      font-family: $font-primary;
      font-weight: $weight-semibold;
      font-size: 2rem;
      line-height: 38px;
      text-align: center;
    }
  }
}
