@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/media";
@import "styles/modules/page.module";
@import "styles/layout/containers";

.container {
  .desktopOnly {
    width: 100%;

    @include for-tablet-portrait-down {
      display: none;
    }
  }

  @include for-tablet-portrait-down {
    margin-bottom: 15vh;
  }

  section.header {
    padding: 1rem;
    width: 100%;
    text-align: center;

    button {
      margin: auto;
    }

    h2 {
      margin: 0 0 1rem;
    }

    @include for-tablet-portrait-up {
      padding: 0;
    }
  }

  main:last-child {
    margin-bottom: 15vh;
  }

  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    select {
      max-width: 12rem;
    }
  }

  .mobileOnly {
    @include for-tablet-portrait-up {
      display: none;
    }
  }
}
