@import "styles/variables/colors.scss";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  a {
    color: $white;
    font-family: $font-primary;
    font-size: $text-sm;
    text-transform: uppercase;
    cursor: pointer;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.15s;

    &:hover {
      color: $blue;
    }
  }

  button {
    margin-top: 1.5rem;
  }

  .header {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    @include for-tablet-portrait-up {
      padding: 1.5rem;
    }
  }

  main {
    min-height: calc(100vh - 7.5rem);
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.textLink {
  color: $blue-lighter !important;
  text-transform: none !important;
  cursor: pointer;
}

.alignLeft {
  text-align: left;
}

.auxButtonsMobile {
  @include smaller-than-tablet-only;
}

.auxButtonsDesktop {
  @include tablet-up-only;
}
