@import "styles/variables/colors.scss";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  header,
  nav {
    padding: 1rem;
  }

  a {
    color: $white;
    font-family: $font-primary;
    font-size: $text-sm;
    text-transform: uppercase;
    cursor: pointer;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.15s;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1.75rem;
  }
}

.textLink {
  color: $blue-lighter !important;
  text-transform: none !important;
  cursor: pointer;
}

.alignLeft {
  text-align: left;
}

.auxButtonsMobile {
  @include smaller-than-tablet-only;
}

.auxButtonsDesktop {
  @include tablet-up-only;
}

.linkSection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.dashboardLink {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: $white-alpha-3;
  }

  @include tablet-up-only;
}
