@import "styles/variables/colors.scss";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  &.withBackdrop {
    background-image: linear-gradient(rgba(0 33 53 / 0.2), rgba(0 33 53 / 1)),
      url("/images/landing/bg.avif");
    background-size: cover;
  }

  header,
  nav {
    padding: 1rem;
  }

  main {
    padding: 1.5rem;
  }

  a {
    color: $white;
    font-family: $font-primary;
    cursor: pointer;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.15s;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1.5rem 1.75rem;

    @include for-tablet-up {
      padding: 1.5rem 3rem;
    }

    .logoContainer {
      width: 12rem;
      cursor: pointer;

      @include for-tablet-up {
        width: 16rem;
        padding: 2rem;
        height: 100px;
      }
    }

    ul.menu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }
    }

    ul.textMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        position: relative;
        font-family: "commuters_sans", sans-serif;
        font-size: 1em;

        @include for-tablet-up {
          font-size: 1.2em;
        }

        a {
          color: $white;
        }

        a:hover {
          color: $blue-lighter;
        }
      }
    }
  }
}

.textLink {
  color: $blue-lighter !important;
  text-transform: none !important;
  cursor: pointer;
}

.alignLeft {
  text-align: left;
}

.auxButtonsMobile {
  @include smaller-than-tablet-only;
}

.auxButtonsDesktop {
  @include tablet-up-only;
}

.linkSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5px;
  padding-left: 1rem;
}

.dashboardLink {
  border-radius: 0.25rem;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: $white-alpha-3;
  }

  @include tablet-up-only;
}
