@import "../../../pages/politicians/PoliticianPage.module.scss";

.endorsementSection {
  .avatarName {
    margin-top: 0.75rem;
  }

  .avatarContainer {
    width: 100px;
  }

  .flexBetween {
    display: flex;

    a:first-child {
      margin-left: auto;
    }
    a:last-child {
      margin-right: auto;
    }
  }
}
