@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.pageIndex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;

  button {
    background: transparent;
    border: none;
    color: $blue-light !important;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: $text-sm;

    &:disabled {
      cursor: not-allowed;
      color: $blue-darkest !important;
    }

    &:hover {
      color: $blue-lighter !important;
    }
  }

  .pageDots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.25rem;

    svg {
      cursor: pointer;
    }
  }
}
