@import "styles/variables/colors";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  background: $blue-darkest;
  padding: 20px;
  box-shadow: 0 2px 5px $blue-dark-alpha-8;
  z-index: 1000;
  min-width: max-content;
  max-width: 90%;
  max-height: 90%;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &.close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  transition: opacity 0.3s ease;

  &.open {
    opacity: 1;
  }

  &.close {
    opacity: 0;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2.25rem;
  cursor: pointer;
  color: $white;

  &:hover {
    color: $red;
  }
}
