@import "styles/mixins.scss";

@include for-tablet-landscape-up {
  section.wrapper {
    flex-direction: row !important;
    gap: 2.5rem;

    .box {
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem 3rem 2rem 3rem;

      h2 {
        // margin-bottom: .8rem;
        margin: 0 0;
        font-weight: 400;
      }

      h3 {
        margin-bottom: .8rem;
      }
    }

    .boxOpponent {
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0rem 3rem;
    }
  }
}

section.wrapper {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    flex-grow: 1;
    @include for-tablet-portrait-down {
      width: calc(100% - 2.5rem);
    }
  }
}