@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module.scss";
@import "styles/mixins.scss";

.headerSection {
  .fullName {
    margin: 0;
    font-weight: 500;
    // font-size: 3.5rem;
    margin: 1rem 0 0.5rem;
  }

  .note {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px $blue-dark;
    margin-top: 2rem;
    padding-top: 2.5rem;
    width: 100%;

    @include for-tablet-down {
      border-top: solid 1px $blue-darker;
    }
    
    h4 {
      margin-top:0;
    }

    div.noteText {
      color: $blue-lighter;
      font-size: 1.25rem;
      line-height: 1.5;
      font-style: italic;
      font-family: $font-secondary;
      font-weight: 300;
      max-width: 50rem;
      padding: 0.5rem 2rem 1rem;
      margin-bottom: 1rem;
    }
  }

  button.menu {
    margin: 2rem 0 0.5rem;
    width: 19rem;
    max-width: 100vw;

    @include for-tablet-portrait-down {
      width: 12.5rem;
    }
  }

  button.iconOnly {
    margin: 0;
  }

  textarea {
    width: 100%;
    height: 8rem;
    padding: 1rem;
    border: 1px $blue-dark;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: $text-primary;
    font-weight: 400;
    resize: none;
    outline: none;
  }
}

.buttonArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.editContainer {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;

  .buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
  }
}

.editContainer {
  width: 100%;
  max-width: 800px;
  margin-top:1rem;

  .buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top:2rem;
    gap: 1rem;
  }
}