@import "styles/layout/containers";

.topBar {
  grid-area: "subnav";
  position: sticky;
  z-index: 14;
  background-color: $blue-darker;
  color: $white;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.25em;
  font-weight: 500;
  width: 100%;

  @include for-tablet-up {
    background-color: $blue-darker-2;
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
  }

  :first-child {
    cursor: pointer;
  }
}

.backButton {
  display: none;

  @include for-tablet-up {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 5rem;
    height: 5.625rem;
    border: none;
    border-right: 1px solid $blue-dark;
    padding: 1rem;
    margin: -1rem 0;
    margin-right: 3rem;
    background: $blue-darker-2;

    &:hover {
      background-color: $blue-darker;
    }
  }
}

.votingGuideAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: $text-xs;
  font-weight: 300;
}

.placeholder {
  display: none;

  @include for-tablet-up {
    display: block;
  }
}
