@import "styles/modules/page.module";

.topBar {
  position: sticky;
  top: 80px;
  z-index: 14;
  transform: translateY(-250%);
  transition: transform 400ms ease-in;
  background-color: $blue-darker;
  color: $white;
  padding: 1rem;
  text-align: center;
  font-size: 1.25em;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.sticky {
    transform: translateY(0%);
  }

  @include for-tablet-up {
    background-color: $blue-darker-2;
    height: 5.625rem;
    padding: 1rem 1rem 1rem 0;
    position: absolute;
    top: 0;
    left: 12rem;
    width: calc(100vw - 12rem);
    justify-content: left;
  }

  :first-child {
    cursor: pointer;
  }
}

.backButton {
  justify-content: center;
  align-items: center;
  display: flex;

  @include for-tablet-up {
    width: 5rem;
    height: 5.625rem;
    border-right: 1px solid $blue-dark;
    padding: 1rem;
    margin: -1rem 0;
    margin-right: 3rem;

    &:hover {
      background-color: $blue-darker;
    }
  }
}

.votingGuideAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: $text-xs;
  font-weight: 300;
}
