@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.widgetContainer {
  background: $grey-lightest;
  width: 100%;

  main {
    width: 100%;
    padding: 1rem 0;
  }
}

.header {
  border-radius: 15px 15px 0 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $grey-lighter;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid $grey-light;

  strong {
    font-size: 13px;
    font-weight: 500;
    font-family: $font-primary;
    text-transform: uppercase;
  }

  .raceName {
    text-align: left;
    padding-right: 1rem;
  }

  .raceYear {
    text-align: right;
    padding-left: 1rem;
  }
}

.resultsInfoLabel {
  display: flex;
  justify-content: center;
  font-size: $text-sm;
  font-style: italic;
  font-weight: 400;
  color: $grey-darker;
}

.raceContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 0.5rem;
}

.raceLabelsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem 0.5rem;

  @include for-tablet-down {
    flex-direction: column;
    text-align: center;
  }
}

.raceLabels {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.resultsInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem;

  p {
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
  }

  @include for-tablet-down {
    flex-direction: column;
    text-align: center;
  }
}
