@import "styles/mixins/media";
@import "styles/variables/fonts";
@import "styles/variables/colors";

.profile {
  section {
    border-bottom: 1px solid var(--blue-darker);
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
      width: 20rem;
      margin: 0;
    }

    button {
      width: 100%;
    }

    @include for-tablet-portrait-down {
      flex-direction: column;
      border-bottom: none;

      h2 {
        width: 100%;
        background: linear-gradient(180deg, #003c55 0%, #002e45 100%);
        height: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    h2 + form {
      width: auto;
    }
    h2 + div,
    h2 + form > div {
      width: 30rem;
      max-width: 100vw;
      padding: 2rem 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
    }
  }

  .nameSection {
    display: flex;
    gap: 1.25rem;
    width: 100%;
    margin-bottom: 1.25rem;
    > div {
      width: calc(50% - 0.6125rem);
    }

    @include for-tablet-portrait-down {
      flex-direction: column;
      gap: 1.25rem;

      > div {
        width: 100%;
      }
    }
  }

  .avatarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      @include for-tablet-portrait-down {
        width: 16rem;
      }

      margin: 0;
    }
  }

  .signOutSection {
    button {
      margin: 0;
    }
  }

  .deleteSection {
    > span {
      line-height: 2rem;
      font-family: $font-secondary;
      font-size: $text-lg;
    }
    .deleteConfirmation {
      display: flex;
      align-items: center;
      label {
        font-size: $text-md;
        line-height: 1.5rem;
      }
      input {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 1.25rem;
        flex-shrink: 0;
      }
    }
  }

  .addressSection {
    span:first-child {
      line-height: 2rem;
      font-family: $font-secondary;
      font-size: $text-lg;
    }
    span.errorMessage {
      color: $red;
      font-size: $text-sm;
      padding: 0.5em 0.25em;
      display: inline-block;
    }
    .location {
      display: flex;
      gap: 1.25rem;
      width: 100%;
      > div:first-child {
        width: calc(50% - 0.833rem);
      }
      > div:nth-child(2) {
        width: calc(20% - 0.833rem);
      }
      > div:last-child {
        width: calc(30% - 0.833rem);
      }
    }
  }

  .passwordSection {
    gap: 1.25rem;
  }

  input[type="file"],
  input[type="submit"] {
    display: none;
  }
}
