@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module";
@import "styles/mixins.scss";

.footnote {
  font-style: italic;
  cursor: pointer;
  color: $blue-light;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  min-width: 296px;
  max-width: 496px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 100%;
    align-self: left;
  }
}

.formWrapper {
  align-content: space-between;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;

    input,
    select {
      border-radius: 6px;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      position: relative;
      background-color: #fff;
      border: none;
      color: #1f1f30;
      font-size: 19px;
      letter-spacing: 0.2px;
      line-height: 24px;
      padding: 15px 24px;
      width: 100%;

      &:invalid {
        color: gray;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $blue;
      }
    }

    .inputError {
      color: $red;
      margin: 0.25rem;
    }

    &.invalid {
      input {
        box-shadow: 0 0 0 2px $red;
      }
    }
  }

  .formError {
    color: $red;
    margin: 0.25rem;
  }
}

.flexBetween {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include for-tablet-portrait-up {
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
}
