@import "styles/variables/colors.scss";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  width: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-tablet-portrait-up {
    width: 596px;
  }

  a {
    color: $blue-lighter !important;
    text-transform: none !important;
    cursor: pointer;

    &:hover {
      color: $aqua !important;
    }
  }

  h1 {
    margin: 0 0 0.5rem;
    width: 100%;
    align-self: flex-start;
  }

  h2 {
    margin: 0;
    line-height: 2rem;
    align-self: flex-start;

    @include for-tablet-portrait-up {
      line-height: 3rem;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  small.footnote {
    font-style: italic;
    color: $blue-lighter;
    font-size: $text-sm;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0;
    align-self: flex-start;
    display: inline-flex;
    gap: 0.5rem;
  }

  button {
    min-width: 100%;
  }

  p.subtitle {
    margin-bottom: 1rem;
    width: 100%;
    align-self: flex-start;
  }
}

.formWrapper {
  place-content: stretch;
  align-content: space-between;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    input,
    select {
      border-radius: 6px;
      display: flex;
      flex-flow: row nowrap;
      overflow: hidden;
      position: relative;
      background-color: #fff;
      border: none;
      color: #1f1f30;
      font-size: 19px;
      letter-spacing: 0.2px;
      line-height: 24px;
      padding: 15px 24px;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;

      .selectWrapper {
        position: relative;
        display: inline-block;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $blue;
      }
    }

    select:invalid {
      color: #aaa;
    }

    .inputError {
      color: $red;
      margin: 0.25rem;
    }

    &.invalid {
      input {
        box-shadow: 0 0 0 2px $red;
      }
    }
  }

  .formError {
    color: $red;
    margin-top: 1.5rem;
  }

  .postalCode {
    margin-left: 0.5rem;
  }
}

.flexBetween {
  display: flex;
  flex-direction: row;
  width: 100%;

  @include for-tablet-portrait-up {
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
}
