@import "styles/variables/colors";
@import "styles/variables/fonts";

.sponsorDisplay {
  .sponsorAvatars {
    display: flex;
  }

  .avatarContainer {
    flex: 1;
    justify-content: center;
  }

  .avatarName {
    width: 240px;
    text-align: center;
    margin-top: 1rem;
  }

  .sponsorList {
    font-size: $text-md;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      padding-left: 40px;
    }

    li::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 10px;
      left: 0;
      top: 0;
      font-size: 5rem;
      background-color: #fff;
    }
  }

  .twoColumns {
    column-count: 2;
  }
}
