.content {
  h1 {
    text-align: center;
  }
  p {
    margin-top: 1.5rem;
    text-align: center;
  }

  button {
    text-transform: uppercase;
  }

  display: grid;
  place-items: center;
  height: 100%;

  > div {
    max-width: 768px;
  }
}
