@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/layout/containers";

$election-info-width: 1150px;
$box-height: 14rem;

@media (min-width: $election-info-width) {
  section.wrapper {
    flex-direction: row !important;
    gap: 2.5rem;

    .box {
      height: $box-height;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1.5rem 3rem 2rem;

      h2 {
        margin: 0;
        font-weight: 400;
      }

      h3 {
        margin-bottom: 0.8rem;
      }
    }
  }
}

.boxOpponent {
  height: $box-height;
  overflow: scroll;
  justify-content: center;
  display: flex;
  align-items: center;
}

section.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    flex-grow: 1;
    min-width: 15rem;

    @media (max-width: $election-info-width) {
      width: calc(100% - 2.5rem);
      padding-top: 1rem;

      h2 {
        margin: 0.5rem;
      }
    }
  }
}
