@import "styles/mixins/media";
@import "styles/variables/colors";

.content {
  padding: 0 3rem;

  h2 {
    font-weight: 500;
    margin-top: 4rem;
    line-height: 1.4em;

    &:first-child {
      margin-bottom: 0;
    }
  }
  h3 {
    font-size: 1.8em;
    font-weight: 500;
    margin-top: 4rem;
    line-height: 1.4em;
  }
  ul li {
    margin:10px;
    padding-left: 10px;
  }

  strong {
    font-weight: 500;
  }

  a {
    color: $blue-lighter;
  }

  a:hover {
    color: $blue-light;
  }
}

.contentContainer {
  max-width: 1100px;
  margin: auto;
  padding-top: 2rem;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(rgba(0 33 53 / 0.2), rgba(0 33 53 / 1)),
    url("/images/landing/bg.jpg");
  background-size: cover;

  .textLink {
    color: $blue-lighter;
  }

  .textLink:hover {
    color: $blue-light;
  }

  html {
    background: var(--blue-darkest);
  }
}
