/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.container {
  a:hover {
    color: $blue-lighter !important;
  }

  html {
    background: var(--blue-darkest);
  }

  .botspace {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textLink {
    color: $blue-lighter;
  }

  .textLink:hover {
    color: $blue-light;
  }

  .menuContainer {
    padding: 0.5rem;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items: center;
      gap: 1rem;
      margin: 0;

      li,
      a {
        font-family: $font-primary;
        color: $white;
        &:visited {
          color: $white;
        }
        &:hover {
          color: $blue-lighter;
        }
      }
    }
  }
}

.headerLogo {
  position: relative;
  margin: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transform-style: preserve-3d;
  flex-shrink: 0;

  @media screen and (max-width: 768px) {
    margin: 1rem;
  }
}

.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3.5rem 3.5rem;
  button {
    align-self: center;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 3rem;
    margin: 0 1rem 1rem;
  }
}

.headerImage {
  height: 325px;
}

.headerCopy {
  max-width: 650px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
  }
}

/*  SECTION 1A  */

.blueBand {
  padding: 2rem 12rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: $blue-darker;
  color: white;
  box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 30%);

  h2 {
    font-size: 2em;
  }

  @media screen and (max-width: 768px) {
    flex-flow: column;
    padding: 3rem 2rem 2rem;

    img {
      width: 100%;
    }
  }
}

.infoColumns {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: $blue-darkest;

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }

  .leftColumn,
  .rightColumn {
    display: grid;
    grid-template-rows: 16rem 30rem 30rem 30rem;
    justify-items: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0.5rem;
    }
  }

  .leftColumn {
    background: $aqua;
  }

  .rightColumn {
    background: $yellow;
  }

  section {
    width: 100%;
    border-bottom: 1px solid $blue-alpha-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 500px;

    &:last-child {
      border-bottom: none;
    }

    h4,
    h5 {
      margin: 0;
    }

    h4 {
      font-size: $text-xxxl;
    }

    h5 {
      color: var(--blue-darkest, #002135);
      text-align: center;
      font-family: $font-primary;
      font-size: $text-xxl;
      font-style: normal;
      font-weight: 300;
      line-height: 3.125rem; /* 111.111% */
    }

    p {
      font-size: $text-lg;
    }
  }
}

.quote {
  blockquote {
    color: $white;
    text-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-primary;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    padding: 0;
    margin: 0 0 1rem;
  }

  cite {
    color: $blue-text-light;
    text-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-primary;
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;
}

#footer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  flex-shrink: 0;
}

.fab {
  font-size: 24px;
}

.fab:hover {
  color: #006586;
}

.fa-twitter {
  margin: 0 30px;
}

#copyright {
  color: #006586;
}

/*  PARALLAX  */
#container1 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: center;
  display: flex;
  flex-flow: column nowrap;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(rgba(0 33 53 / 0.2), rgba(0 33 53 / 1)),
    url("/images/landing/bg.avif");
  background-size: cover;
}
