/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.container {
  a:hover {
    color: $blue-lighter !important;
  }

  html {
    background: var(--blue-darkest);
  }

  .botspace {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textLink {
    color: $blue-lighter;
  }

  .textLink:hover {
    color: $blue-light;
  }

  .menuContainer {
    padding: 3rem 3rem;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items: center;
      gap: 2rem;
      margin: 0;
      padding: 0;

      li,
      a {
        font-family: $font-primary;
        color: $white;
        &:visited {
          color: $white;
        }
        &:hover {
          color: $blue-lighter;
        }
      }
    }
  }
}

.headerLogo {
  position: relative;
  margin: 3rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transform-style: preserve-3d;
  flex-shrink: 0;

  @include for-tablet-down {
    margin: 2rem;
  }
}

.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3.5rem 12rem;
  button {
    align-self: center;
    margin-top: 2rem;
  }

  @include for-tablet-down {
    flex-direction: column-reverse;
    gap: 3rem;
    margin: 0 2rem 1rem;
  }
}

.headerTitle {
  max-width: 420px;
  margin: 0;
  line-height: 1.2em;

  @include for-tablet-down {
    max-width: 100%;
    font-size: 1.75em;
  }
}

.headerImage {
  height: 325px;
  margin-right: -40px;

  @include for-tablet-down {
    height: 100%;
    margin-right: -100px;
  }
}

.headerCopy {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  p {
    @include for-tablet-down {
      font-size: $text-lg;
    }
  }
}

/*  SECTION 1A  */

.blueBand {
  padding: 4rem 3rem;
  width: 100%;
  background-color: $blue-dark;
  color: white;
  box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 30%);

  .contentContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 1000px;

    img {
      max-width: 450px;
      width: 100%;
    }

    h2 {
      margin: 0;
      line-height: 1.2em;
    }

    @include for-tablet-down {
      flex-flow: column;
      gap: 0.5rem;
      margin-bottom: 1rem;

      h2 {
        text-align: center;
      }
    }
  }
}

.infoColumns {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  color: $blue-darkest;

  @include for-tablet-down {
    grid-template-columns: 100%;
  }

  .leftColumn,
  .rightColumn {
    display: grid;
    grid-template-rows: 16rem 30rem 30rem 36rem;
    justify-items: center;
    align-items: center;
    text-align: center;

    @include for-tablet-down {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .leftColumn {
    background: $aqua;
  }

  .rightColumn {
    background: $yellow;
  }

  .bgGradient {
    background-image: linear-gradient(
      rgba(0, 101, 134, 0.1),
      rgba(0, 101, 134, 0)
    );
  }

  section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    &:first-child {
      padding: 1.5rem 1.5rem 0 1.5rem;
      @include for-tablet-down {
        padding: 3rem 3rem 1.5rem;
      }
    }

    h4,
    h5 {
      margin: 0;
    }

    h4 {
      font-size: $text-xxxl;
      font-weight: 500;
    }

    h5 {
      color: var(--blue-darkest, #002135);
      text-align: center;
      font-family: $font-primary;
      font-size: 2em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3em; /* 111.111% */
    }

    p {
      font-size: $text-lg;
      font-weight: 400;
      margin-top: 1rem;
    }

    button {
      margin: 2rem 0;
      box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 25%);
    }
  }
}

.ballotImage {
  margin-top: 20px;
  margin-bottom: -20px;
}

.legislationImage {
  margin-bottom: 10px;

  @include for-tablet-down {
    margin-top: 20px;
  }
}

.enhanceImage {
  margin-top: 10px;
  margin-bottom: 15px;
}

.createImage {
  margin-top: -10px;
  margin-bottom: 10px;

  @include for-tablet-down {
    margin-top: 10px;
  }
}

.engageImage {
  margin-top: -10px;
  margin-bottom: 10px;

  @include for-tablet-down {
    margin-top: 10px;
  }
}

.quote {
  margin: 0;
  padding: 1rem 0;

  blockquote {
    color: $white;
    text-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-secondary;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.3em;
    font-weight: 400;
    padding: 0;
    margin: 0 0 1rem;

    @include for-tablet-down {
      font-size: 1.4em;
    }
  }

  cite {
    color: $blue-text-light;
    text-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
    font-family: $font-secondary;
    font-size: 1.25em;
    font-weight: 400;
    font-style: normal;

    @include for-tablet-down {
      font-size: 1.15em;
    }
  }

  @include for-tablet-down {
    text-align: center;
    margin-bottom: -1rem;
  }
}

.michaelOlson {
  border-radius: 100px;
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 25%);
  width: 175px !important;
  height: 175px !important;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  @include for-tablet-down {
    padding: 3rem 2rem;
  }
}

#footer {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  flex-shrink: 0;
}

.fab {
  font-size: 24px;
}

.fab:hover {
  color: #006586;
}

.fa-twitter {
  margin: 0 30px;
}

#copyright {
  color: #006586;
}

/*  PARALLAX  */
#container1 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: center;
  display: flex;
  flex-flow: column nowrap;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(rgba(0 33 53 / 0.2), rgba(0 33 53 / 1)),
    url("/images/landing/bg.avif");
  background-size: cover;
}
