@import "styles/mixins/media";
@import "styles/variables/colors";

.navContainer {
  display: flex;
  justify-content: right;
  flex-wrap: wrap-reverse;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-right: 1rem;

  @include for-tablet-up {
    padding: 1.5rem 3rem;
    justify-content: space-between;
  }
}

.logoContainer {
  width: 100%;
  cursor: pointer;
  padding: 2rem;

  @include for-tablet-up {
    width: 16rem;
    height: 100px;
  }
}

.break {
  flex-basis: 100%;
  height: 0;

  @include for-tablet-up {
    flex-basis: 0;
  }
}

ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

ul.menu li {
  list-style: none;
  display: inline-block;
  position: relative;
  font-family: "commuters_sans", sans-serif;
  font-size: 1em;

  @include for-tablet-up {
    font-size: 1.2em;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $blue-lighter;
  }
}

.accountProfile {
  padding-left: 1rem;
  margin-top: 5px;

  div {
    display: block !important;
  }
}
