@import "styles/mixins/media";
@import "styles/mixins/utils";
@import "styles/variables/fonts";
@import "styles/variables/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  .white {
    color: $white !important;
  }

  .aqua {
    color: $aqua !important;
  }

  h1 {
    margin: 0;

    @include for-tablet-down {
      text-align: center;
    }
  }

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: $blue-text;
    margin: 0;
  }

  h2.politicianOffice {
    margin: 0 0 0.75rem;
    text-align: center;
    max-width: 80%;
    font-weight: 500;

    @include for-tablet-down {
      margin: 0 0 0.3rem;
    }
  }

  h4.subHeader {
    font-weight: 400;
    color: $white;
    margin: 0 0 1.5rem;
    text-transform: uppercase;
    font-family: $font-primary;

    @include for-tablet-down {
      margin: 0 0 1.2rem;
    }
  }

  p {
    padding: 0 1.5rem;
    margin-top: 0;
    line-height: 1.5em;
  }

  section {
    width: 100%;
    padding: 2.5rem 0;

    @include for-tablet-down {
      padding: 2.5rem 0;
    }

    @include for-tablet-up {
      padding: 2.5rem 0;
      border-top: solid 4px var(--color-accent);
    }

    &.borderBottom {
      border-bottom: 1px solid $blue-dark;

      @include for-tablet-down {
        border-top: solid 1px $blue-darker;
      }
    }

    &.borderTop {
      border-top: 1px solid $blue-dark;

      @include for-tablet-down {
        border-top: solid 1px $blue-darker;
      }
    }

    &.center {
      align-items: center;
      justify-content: center !important;
      display: flex;
      flex-direction: column;
    }
  }

  section.politicianOffice {
    padding: 2.5rem 0;

    @include for-tablet-down {
      padding: 2rem 0;
    }
  }
}

.coloredSection {
  margin-top: 3rem;

  @include for-tablet-down {
    margin-top: 0;
  }

  .bioContent {
    margin: 1rem 0 2rem;
    max-width: 1000px;
  }
}

.gradientHeader {
  background: linear-gradient(180deg, #003c55 0%, #002e45 100%);
  font-family: $font-primary;
  font-weight: 500;
  margin: -1.5rem 0 1rem !important;
  padding: 1rem;
  text-align: center;
  width: 100%;

  @include for-tablet-landscape-up {
    margin: 2rem 0 1rem !important;
    background: none;
    padding: 0;
    text-transform: capitalize !important;
  }
}

.flexEvenly {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.tagPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}

.tag {
  background: $blue-dark;
  color: $white;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: $text-md;
  font-weight: 400;
  width: fit-content;
  max-width: calc(100vw - 2rem);
  display: flex;
  align-items: center;

  svg {
    margin: 0 0.25rem 0 0;
    flex-shrink: 0;
  }

  .subCommittee path {
    stroke: $blue;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.flexBetween {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 0.5rem;
  margin: 0.25rem 0;

  span {
    min-width: fit-content;
    margin: 0;

    &.dots {
      width: 100%;
      display: inline;
      height: 1px;
      background-image: linear-gradient(to right, $blue 20%, $black 0%);
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }

    &:last-child {
      color: $blue-lighter;
    }
  }
}

.green {
  color: $green !important;
}

.statusPill {
  background: $blue;
  border-radius: 40px;
  padding: 10px;
  text-transform: capitalize;
}

.organizationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 7rem;
}

.politicianEndorsementOffice {
  font-size: 0.8em;
  line-height: 1.4em;
  color: $aqua;
  font-style: italic;
  text-align: center;
}

.ratingContainer {
  width: calc(10rem - 1.25rem);
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingCircle {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: $font-primary;
  font-weight: 600;
  color: $blue-darkest;
}

.circlesContainer {
  display: inline-flex;

  :nth-child(2) {
    margin-left: -1.5rem;
  }
}

.adminBox {
  padding: 1.25rem;
  border-radius: 5px;
  border: 1px solid var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 48rem;

  .itemHeader {
    font-weight: 400;
    font-size: $text-lg;
    display: inline-block;
    flex-wrap: nowrap;
    text-transform: uppercase;
  }
}

.center {
  align-items: center;
  justify-content: center !important;
  display: flex;
  flex-direction: column;
}
