@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";

.widgetContainer {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-size: $text-md;
    font-weight: 400;
    margin: 0;
    font-family: $font-secondary;
  }

  .divider {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid $grey-light;
  }

  .dotSpread {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    gap: 0.5rem;
    margin: 0.25rem 0;

    span {
      min-width: fit-content;
      margin: 0;

      &.dots {
        border-bottom: dotted 2px $grey-dark;
        width: 100%;
        float: left;
        position: relative;
        display: block;
        height: 12px;
        margin: 0;
      }
    }
  }
}
