@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.widgetContainer {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
  }

  .officeDisplay {
    font-size: $text-sm;
    font-style: italic;
  }

  .socials {
    flex-direction: row;

    svg {
      font-size: 30px;
      color: $grey-dark;
      transition: ease-in-out 0.2s;

      &:hover {
        color: $blue;
      }
    }
  }

  h1 {
    font-size: $text-md;
    font-weight: 400;
    margin: 0;
    font-family: $font-secondary;
  }

  .divider {
    width: 100%;
    margin: 1rem 0;
    border-bottom: 1px solid $grey-light;
  }

  .endorsementSection {
    width: 100%;

    .endorsementList {
      width: inherit;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      overflow: scroll;
    }

    .endorsementContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        @include clamp-ellipsis(2);
      }
    }
  }
}
