@import "styles/mixins/media";
@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/layout/containers";
@import "styles/mixins/utils";

.widgetContainer {
  main {
    padding: 0.5rem 1rem 1.25rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    padding: 0 0.75rem;
  }

  .officeDisplay {
    font-size: $text-sm;
    font-style: italic;
  }

  .socials {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;

    svg {
      font-size: 25px;
      color: $grey-dark;
      transition: ease-in-out 0.2s;

      &:hover {
        color: $blue;
      }
    }
  }

  h1 {
    font-size: $text-md;
    font-weight: 400;
    margin: 0;
    font-family: $font-secondary;
  }

  .divider {
    width: 100%;
    margin: 1.5rem 0 1rem;
    border-bottom: 1px solid $grey-light;
  }

  .endorsementSection {
    width: 100%;
    padding-bottom: 0.25rem;

    h4 {
      font-size: $text-xxs;
      font-weight: 500;
    }

    .endorsementList {
      width: inherit;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-start;
      overflow: scroll;
      margin-top: 0.25rem;
    }

    .endorsementContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        @include clamp-ellipsis(2);

        font-size: $text-xs;
        margin-top: 0.5rem;
        text-align: center;
        color: $grey-darkest;
      }
    }
  }

  .upcomingRaceSection {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.25rem;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h4 {
      font-size: $text-xxs;
      font-weight: 500;
    }

    .raceBox {
      background: $grey-lighter;
      width: 100%;
      padding: 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid $grey-light;
      color: $blue;

      h3 {
        margin: 0;
        font-size: $text-md;
        font-weight: 500;
      }

      h4 {
        margin-bottom: 0.25rem;
      }
    }
  }

  .statsSection {
    font-size: $text-sm;
  }
}
