@import "styles/mixins";
@import "styles/variables/colors.module.scss";
@import "styles/variables/fonts.module.scss";

.nav {
  // grid-area: nav;
  position: sticky;
  top: 0;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform 400ms ease-in;
  background-color: $background-secondary;
  box-shadow: 0 7px 9px 0 $background-primary;

  &.sticky {
    transform: translateY(0%);
  }

  .navContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height: auto;

    .logoContainer {
      width: 30%;
      max-width: 200px;
      align-self: center;

      @include for-tablet-landscape-up {
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        margin: 1.5rem;
      }

      &.hideLogo {
        @include for-tablet-portrait-down {
          display: none;
        }
      }
    }

    .backButton {
      background: transparent;
      position: absolute;
      left: 1.25rem;
      height: 1.25rem;
      border: none;
      padding: 0;
      margin: 0.25rem 0;

      @include for-tablet-landscape-up {
        display: none;
      }
    }

    .subTitle {
      font-size: var(--text-md);
      font-family: $font-primary;
      margin: 0.25rem 0;
    }

    @include for-tablet-landscape-up {
      position: sticky;
      top: 0;
      height: 100vh;

      .subTitle {
        display: none;
      }
    }
  }

  @include for-tablet-portrait-up {
    height: 100%;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 5rem;
    ul {
      padding: 0;
      margin: 2.5rem -1rem;
    }

    @include for-tablet-portrait-down {
      display: none;
    }

    .avatar {
      cursor: pointer;
    }
  }

  .navItem {
    font-family: $font-primary;
    background-color: $background-secondary;
    text-align: center;
    font-size: 1.25rem;
    list-style: none;
    width: 100%;
    padding: 1rem;
    cursor: pointer;

    :hover {
      color: $salmon;
      transition: ease-in-out 0.3s;
    }

    &.active {
      color: $salmon;
      background-color: $background-primary;
    }
  }
}
