@import "styles/variables/colors";
@import "styles/mixins/media";

.container {
  position: fixed;
  bottom: 12%;
  z-index: 1000;

  @include for-tablet-landscape-up {
    display: none;
  }

  button {
    width: 100%;
    height: 100%;
    background: $blue-dark;
    color: $white;
    box-shadow: 0 0 10px $blue-darkest;
    cursor: pointer;
    border: none;
    padding: 9px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    :hover {
      color: white;
    }
  }

  &.left {
    left: 0;

    button {
      border-radius: 0 50px 50px 0;
    }
  }

  &.right {
    right: 0;

    button {
      border-radius: 50px 0 0 50px;
    }
  }
}
