@import "styles/variables/colors";
@import "styles/variables/fonts";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem 0;
  border-bottom: 1px solid $blue-dark;
  margin-bottom: 1.5rem;

  h2 {
    margin: 0;
    font-weight: 300;
    font-size: $text-xxl;
  }

  button {
    background: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $text-sm;
    color: $blue-text-light;
    text-transform: uppercase;
    cursor: pointer;
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0 0.75rem 0 0;
    border: 1px solid transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid $blue-dark-alpha-8;
    }
  }
}
