@import "styles/variables/colors";

.container {
  background-color: #011d2e;
  border-radius: 5px;

  .actions {
    border-radius: 5px 5px 0 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #001624;

    small {
      color: $blue-text;
      font-size: 1.15em;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
      }
    }

    select {
      margin: 0;
      background: none;
      border: none;
      color: $blue-text;
    }
  }

  pre,
  code {
    border-radius: 0 0 5px 5px;
    background-color: #011d2e;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.4em;
    word-break: normal;
    padding: 0.5rem !important;
    margin: 0 !important;
  }
}
