@import "styles/layout/containers";
@import "styles/variables/colors";
@import "styles/variables/fonts";

section.billsSection {
  padding: 1.5rem 1rem;

  h2 {
    margin-top: 0;
  }

  .billResults {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    gap: 1rem;

    @include scroll-snap;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 6px,
      black calc(100% - 12px),
      transparent 100%
    );
  }
}
