@import "styles/mixins.scss";
@import "styles/variables/colors.module.scss";

.content {
  padding: 0 3rem;
}

.contentContainer {
  max-width: 1100px;
  margin: auto;
  padding-top: 2rem;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(rgba(0 33 53 / 0.2), rgba(0 33 53 / 1)),
    url("/images/landing/bg.jpg");
  background-size: cover;

  a {
    color: #fff;
  }

  a:hover {
    color: $blue-lighter;
  }

  html {
    background: var(--blue-darkest);
  }
}

.textLink {
  color: $blue-lighter;
}

.textLink:hover {
  color: $blue-light;
}
