/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable indentation */

@import "styles/mixins";

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_regular-webfont.woff2")
      format("woff2"),
    url("../public/fonts/commuter_sans_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_light-webfont.woff2") format("woff2"),
    url("../public/fonts/commuter_sans_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_semi_bold_italic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/commuter_sans_semi_bold_italic-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_semi_bold-webfont.woff2")
      format("woff2"),
    url("../public/fonts/commuter_sans_semi_bold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_bold_italic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/commuter_sans_bold_italic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "commuters_sans";
  src: url("../public/fonts/commuter_sans_bold-webfont.woff2") format("woff2"),
    url("../public/fonts/commuter_sans_bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-boldit-webfont.woff2") format("woff2"),
    url("../public/fonts/proximanova-boldit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-light-webfont.woff2") format("woff2"),
    url("../public/fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-lightitalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-regular-webfont.woff2") format("woff2"),
    url("../public/fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-regularitalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-semibold-webfont.woff2") format("woff2"),
    url("../public/fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("../public/fonts/proximanova-semibolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/proximanova-semibolditalic-webfont.woff")
      format("woff");
  font-weight: 500;
  font-style: italic;
}

::selection {
  background: var(--aqua);
}

/* CSS Variables */
:root {
  /* Colors */
  --text-primary: var(--white);
  --text-secondary: var(--blue-darkest);
  --background-primary: var(--blue-darkest);
  --background-secondary: var(--blue-dark);
  --blue-text: #55a3bd;
  --blue-lighter: #8ed7ee;
  --blue: #006586;
  --blue-dark: #003c55;
  --blue-darker: #002b41;
  --blue-darkest: #002135;
  --red: #d75050;
  --yellow: #ffe45c;
  --yellow-dark: #c1a826;
  --green: #8eea78;
  --green-support: #46b918;
  --aqua: #6ee1ba;
  --violet: #c3b1e5;
  --salmon: #e78f84;
  --orange: #ffb45c;
  --purple: #8f77bb;
  --white: #fff;
  --grey-darkest: #333;
  --grey-darker: #666;
  --grey-dark: #999;
  --grey: #aaa;
  --grey-light: #ccc;
  --grey-lighter: #ddd;
  --grey-lightest: #eee;
  --black: #002135;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.125;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--text-primary);
  background: #002135;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: antialiased; */
  text-rendering: optimizeLegibility;
  font-display: fallback;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "proxima_nova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  @include for-tablet-up {
    font-size: 20px;
  }
}

h1 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 36px;
  @include for-tablet-up {
    font-size: 55px;
  }
}

h2 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  @include for-tablet-up {
    font-size: 36px;
  }
}

h3 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4em;
  @include for-tablet-up {
    font-size: 22px;
  }
}

h4 {
  font-family: "commuters_sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

#copyright {
  color: #006586;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }
