@import "styles/mixins.scss";
@import "styles/variables/colors.module.scss";

.container {

  a:hover {
    color: $blue-lighter !important;
  }

  html {
    background: var(--blue-darkest);
  }

  .botspace {
    margin-bottom: 30px;
  }
  
  #container1 a {
    color: white;
  }

  /*  MENU  */

  #menu {
    padding: 0rem 0rem;
    @include for-tablet-up {
      padding: 3rem 8rem;
    }
  }

  ul.nav {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap:wrap-reverse;
    padding:0;
    @include for-tablet-up {
      gap: 4rem;
      flex-wrap: nowrap;
      justify-content: right;
    }
  }

  ul.nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    font-family: "commuters_sans", sans-serif;
    font-size: 1em;
    @include for-tablet-up {
      font-size: 1.2em;
    }
  }

  .menuButton {
    margin-left:0;

    @include for-tablet-up {
      margin-left:-2rem;
    }
  }

  

  
  .textLink {
    color: $blue-lighter;
  }

  .textLink:hover {
    color: $blue-light;
  }


  /*  CONTENT  */

  #section1 {
    position: relative;

    /* margin: 150px auto 100px auto; */
    width: 100%;
    margin: 6rem 0 2rem;

    /* max-width: 760px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }

  .populist-button-1 {
    margin-top: 1.5rem;
    font-family: "commuters_sans", sans-serif;
    border: none;
    border-radius: 100px;
    color: #fff;
    background-color: #006586;
    font-size: 19px;
    letter-spacing: 0.2px;
    padding: 15px 24px;
    text-transform: uppercase;
    cursor: pointer;
    justify-self: center;
  }

  .populist-button-1:hover {
    background-color: #003c55;
    transition: 0.3s ease-in-out;
  }

  input.button {
    display: inline-block;
    font-family: "commuters_sans", sans-serif !important;
    font-size: 18px !important;
    font-weight: normal !important;
    padding: 0 2rem !important;
    background: #006586 !important;
    border-radius: 40px !important;
    margin: 10px 0 !important;
    height: 50px !important;
  }

  input.button:hover {
    background-color: #0D85AC !important;
  }

  div.content {
    padding: 80px 100px 80px 80px;
    max-width: 950px;
  }

  div.contentwide {
    padding: 3rem 100px 4rem 80px;
    max-width: 1160px;
  }

  div.contentwide2 {
    padding: 80px 80px 80px 80px;
    max-width: 1160px;
  }

  /*  SECTION 1C  */

  #section1c {
    margin: 0 0 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  #s1ccol2 {
    width: 650px;
    margin-left: -40px;
    
    h2 {
      margin-top:2rem;
      margin-bottom:0;
    }

    button {
      margin-top: 2rem;
    }
  }

  /*  SECTION 1B  */

  #section1b {
    position: relative;

    /* top:1250px; */

    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    transform-style: preserve-3d;
    flex-shrink: 0;
    margin-bottom: 9%;
  }

  #s1bcol1 {
    width: 50%;
    max-width: 750px;

    /* min-width: 500px; */
    background-color: #002a44;
    box-shadow: 7px 7px 30px 0 rgb(0 0 0 / 20%);
    border-radius: 40px;

    h2 {
      margin-bottom:0;
    }

    button {
      margin-top: 2rem;
    }
  }

  #s1bcol2 {
    width: 28%;
    max-width: fit-content;
    /* height:300px; */
    max-height: 200px;
    min-width: 300px;
    margin-top: -4%;
    transform: translateZ(0.5px) scale(0.9375) translateY(0) translateX(-70px);
    box-shadow: 10px 10px 40px 0 rgb(0 0 0 / 30%);
  }

  #s1bcol2 span {
    display: block !important;
  }

  #section1b img {
    width: 100%;

    /* max-width: 300px; */
    height: auto;
    vertical-align: middle;
    border-radius: 40px;
  }

  /*  SECTION 2  */

  #section2 {
    position: relative;

    /* top:700px; */

    /* margin-top:-8%; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transform-style: preserve-3d;
    flex-shrink: 0;
    margin-bottom: 7%;
  }

  #s2col1 {
    width: 50%;
    transform: translateZ(1px) scale(0.925) translateY(0) translateX(40px);
    box-shadow: 10px 10px 30px 0 rgb(0 0 0 / 30%);
    border-radius: 40px;
  }

  #s2col1 span {
    display: block !important;
  }

  #s2col2 {
    width: 50%;
    background-color: #002a44;
    box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 20%);
    border-radius: 40px;
    margin-left: -100px;
    padding-left: 100px;
  }

  #section2 img {
    width: 100%;
    vertical-align: middle;
    border-radius: 0 40px 40px 0;
  }

  /*  SECTION 3  */

  #section3 {
    position: relative;

    /* top:1250px; */

    /* width: 100%; */

    /* margin-top: 3%; */
    margin-bottom: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    transform-style: preserve-3d;
    flex-shrink: 0;
  }

  #s3col1 {
    width: 55%;
    /* min-width: 500px; */
    background-color: #002a44;
    box-shadow: 7px 7px 30px 0 rgb(0 0 0 / 20%);
    border-radius: 40px;
    margin-right: -100px;
    padding-right: 100px;
  }

  #s3col2 {
    width: 25%;
    min-width: 300px;
    /* max-height: 700px; */
    transform: translateZ(2px) scale(0.75) translateY(-250px) translateX(-170px);
    box-shadow: 10px 10px 40px 0 rgb(0 0 0 / 30%);
    border-radius: 40px;
  }

  #s3col2 span {
    display: block !important;
  }

  #section3 img {
    // display: block;
    width: 100%;
    /* max-width: 300px; */
    height: auto;
    vertical-align: middle;
    border-radius: 40px;
  }

  /*  SECTION 4   */

  #section4 {
    position: relative;

    /* top:1750px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: -13%;
    width: 100%;
    color: #002135;
    z-index: -1;
    flex-shrink: 0;
  }

  #s4row1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  #s4row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #002a44;
    color: white;
  }

  .last {
    padding-top: 60px !important;
  }

  #section4 img {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 30px !important;
  }

  .emphasized {
    font-weight: 600;
    font-style: italic;
  }

  /*  INPUT FORM  */

  #mc_embed_signup {
    clear: left;
    font-family: "proxima_nova";
    font-size: 20px;
    width: 100%;
  }

  #mc_embed_signup_scroll {
    display: flex;
    flex-flow: row nowrap;
  }

  #mce-EMAIL {
    height: 50px !important;
    width: 80% !important;
    padding: 0 20px !important;
    font-size: 20px !important;
    border-radius: 40px !important;
    border: none !important;

    /* border: 1px solid #e5cd53; */
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%) inset !important;
  }

  #mc-embedded-subscribe {
    /* height:50px !important; */
    color: white !important;
    border: none !important;

    /* padding: 30px 40px !important; */
    margin: 0 0 0 20px !important;
  }

  /*  FOOTER  */

  #footer {
    position: relative;

    /* top:2700px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
    flex-shrink: 0;
  }

  .fab {
    font-size: 24px;
  }

  .fab:hover {
    color: #006586;
  }

  .fa-twitter {
    margin: 0 30px;
  }

  #copyright {
    color: #006586;
  }

  /*  RESPONSIVENESS  */

@include for-tablet-down {
    #menu {
      margin-top:1rem;
    }

    ul.nav li {
      // margin-bottom: 1rem;
    }

    #logo {
      width: 85%;
      height: auto;
    }

    #container1 {
      position: relative;
      background: #002135;
    }

    div.content {
      padding: 2rem;
    }

    div.contentwide {
      padding: 2rem;
    }

    #section1 {
      margin-top: 50px;
      margin-bottom: 0;
      padding:0 2rem;
    }

    #section1c {
      margin-top:0;
      flex-flow: column;
      flex-direction: column-reverse;
    }

    #s1ccol2 {
      max-width: 100%;
      width: 100%;
      margin-left:0;
      padding:0 2rem;
      margin-top:0;
    }

    #s1ccol1 {
      margin-left:5rem;
      margin-top:4rem;
      margin-bottom: -4rem;
    }

    #section1b {
      position: relative;
      flex-flow: column;
      justify-content: flex-start;
      top: 0;
      margin: 0;
    }

    #s1bcol1 {
      width: 100%;
      max-width: 100%;
      margin: 0;
      border-radius: 0px;
    }

    #s1bcol2 {
      /* margin: 0px 0px -3px 0px; */
      margin:0;
      width: 100%;
      max-width: 100%;
      max-height: none;
      transform: translateY(0) translateZ(0) scale(1);

    //   width: 28%;
    // max-width: fit-content;
    // /* height:300px; */
    // max-height: 200px;
    // min-width: 300px;
    // margin-top: -4%;
    // transform: translateZ(0.5px) scale(0.9375) translateY(0) translateX(-70px);
    // box-shadow: 10px 10px 40px 0 rgb(0 0 0 / 30%);
    }

    #section1b img {
      border-radius: 0px;
      width: 100%;
    }

    #section2 {
      position: relative;
      flex-flow: column;
      justify-content: flex-start;
      top: 0;
      margin: 0;
    }

    #s2col1 {
      width: 100%;
      transform: translateY(0) translateZ(0) scale(1);
      border-radius: 0px;
      box-shadow: 0px 0px 30px 0 rgb(0 0 0 / 30%);
    }

    #s2col2 {
      width: 100%;
      border-radius: 0px;
      margin: 0;
      padding: 0;
    }

    #section2 img {
      border-radius: 0px;
    }

    #section3 {
      position: relative;
      flex-flow: column-reverse wrap;
      top: 0;
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 0;
    }

    #s3col1 {
      width: 100%;
      border-radius: 0px;
      padding-right:0px;
    }

    #s3col2 {
      width: 100%;
      transform: translateY(0) translateZ(0) scale(1);
      border-radius: 0px;
    }

    #section3 img {
      border-radius: 0px;
    }

    #section4 {
      position: relative;
      margin-top: 0;
    }

    .last {
      padding-top: 40px !important;
    }

    #footer {
      position: relative;
    }
  }

  /*  PARALLAX  */

  #container1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 8px;
    perspective-origin: center;
    display: flex;
    flex-flow: column nowrap;
    -webkit-overflow-scrolling: touch;
    background-image: linear-gradient(rgba(0, 33,53, .2), rgba(0, 33,53, 1)),
						url("/images/landing/bg.jpg");
	  background-size: cover;
  }

}






