/* stylelint-disable value-list-comma-newline-after */
/* stylelint-disable declaration-colon-newline-after */
/* stylelint-disable indentation */

@import "./mixins/media";
@import "./base/normalize";
@import "./typography";

::selection {
  background: hsla(160, 66%, 66%, 0.661);
  color: var(--blue-darkest);
}

::placeholder {
  color: #a3a1a1;
}

/* CSS Variables */
:root {
  /* Colors */
  --text-primary: var(--white);
  --text-secondary: var(--blue-darkest);
  --background-primary: var(--blue-darkest);
  --background-secondary: var(--blue-darker);
  --blue-text: hsl(195, 44%, 54%);
  --blue-text-light: hsl(194, 74%, 75%);
  --blue-lighter: hsl(194, 74%, 75%);
  --blue-light: hsl(195, 86%, 36%);
  --blue: hsl(195, 100%, 26%);
  --blue-alpha-1: hsl(195, 100%, 26%, 0.1);
  --blue-dark: hsl(198, 100%, 17%);
  --blue-darker: hsl(200, 100%, 13%);
  --blue-darker-2: hsl(201, 100%, 12%);
  --blue-dark-alpha-8: hsl(200, 100%, 13%, 0.75);
  --blue-darkest: hsl(203, 100%, 10%);
  --blue-dark-50: hsl(200, 100%, 13%, 0.447);
  --red: hsl(0, 63%, 58%);
  --red-alpha-1: hsl(0, 63%, 58%, 0.1);
  --yellow: hsl(50, 100%, 68%);
  --yellow-dark: hsla(50, 68%, 55%, 0.499);
  --green: hsl(108, 73%, 69%);
  --green-alpha-1: hsl(108, 73%, 69%, 0.1);
  --green-support: hsl(103, 77%, 41%);
  --green-support-alpha-1: hsl(103, 77%, 41%, 0.1);
  --aqua-light: hsl(160, 66%, 66%, 0.855);
  --aqua: hsl(160, 66%, 66%);
  --aqua-dark: hsl(176, 43%, 30%);
  --violet-lighter: hsl(261, 74%, 86%);
  --violet-light: hsl(261, 50%, 80%);
  --violet: hsl(261, 50%, 80%);
  --violet-dark: hsl(223, 22%, 39%);
  --violet-darker: hsl(223, 22%, 41%);
  --violet-alpha-1: hsl(261, 50%, 80%, 0.1);
  --violet-alpha-2: hsl(261, 50%, 80%, 0.2);
  --salmon: hsl(7, 67%, 71%);
  --salmon-alpha-1: hsl(7, 67%, 71%, 0.1);
  --orange-lightest: hsl(30, 88%, 77%);
  --orange-lighter: hsl(32, 85%, 69%);
  --orange-light: hsl(32, 81%, 65%);
  --orange: hsl(32, 100%, 68%);
  --orange-dark: hsl(32, 93%, 63%);
  --orange-darker: hsl(32, 95%, 59%);
  --orange-darkest: hsl(32, 90%, 55%);
  --orange-alpha-1: hsl(32, 100%, 68%, 0.1);
  --purple: hsl(261, 33%, 60%);
  --white: hsl(0, 0%, 100%);
  --grey-darkest: hsl(0, 0%, 20%);
  --grey-darker: hsl(0, 0%, 40%);
  --grey-dark: hsl(0, 0%, 60%);
  --grey: hsl(0, 0%, 67%);
  --grey-alpha-1: hsl(0, 0%, 67%, 0.1);
  --grey-light: hsl(0, 0%, 80%);
  --grey-lighter: hsl(0, 0%, 87%);
  --grey-lightest: hsl(0, 0%, 93%);
  --dark-brown: hsl(50, 47%, 27%);
  --black: hsl(203, 100%, 10%);
  --black-alpha-1: hsl(0, 0%, 0%, 0.06);
  --black-alpha-2: hsl(0, 0%, 0%, 0.08);
  --black-alpha-3: hsl(0, 0%, 0%, 0.16);
  --black-alpha-4: hsl(0, 0%, 0%, 0.24);
  --black-alpha-5: hsl(0, 0%, 0%, 0.36);
  --black-alpha-6: hsl(0, 0%, 0%, 0.48);
  --black-alpha-7: hsl(0, 0%, 0%, 0.64);
  --black-alpha-8: hsl(0, 0%, 0%, 0.8);
  --black-alpha-9: hsl(0, 0%, 0%, 0.92);
  --white-alpha-1: hsl(0, 0%, 100%, 0.06);
  --white-alpha-2: hsl(0, 0%, 100%, 0.08);
  --white-alpha-3: hsl(0, 0%, 100%, 0.16);
  --white-alpha-4: hsl(0, 0%, 100%, 0.24);
  --white-alpha-5: hsl(0, 0%, 100%, 0.36);
  --white-alpha-6: hsl(0, 0%, 100%, 0.48);
  --white-alpha-7: hsl(0, 0%, 100%, 0.64);
  --white-alpha-8: hsl(0, 0%, 100%, 0.8);
  --white-alpha-9: hsl(0, 0%, 100%, 0.92);

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.125;

  /* fixed widths */
  --nav-width: 14rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    "proxima_nova",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--text-primary);
  background: hsl(203, 100%, 10%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-display: swap;
  scroll-behavior: smooth;

  &:has(div[role="dialog"]) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
}

p {
  font-family: "proxima_nova", sans-serif;
  font-weight: 300;
  line-height: 1.4em;

  @include for-tablet-up {
    font-size: 24px;
  }
}

h1 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 36px;

  @include for-tablet-up {
    font-size: 55px;
  }
}

h2 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 24px;

  @include for-tablet-up {
    font-size: 36px;
  }
}

h3 {
  font-family: "commuters_sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4em;

  @include for-tablet-up {
    font-size: 22px;
  }
}

h4 {
  font-family: "commuters_sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

#copyright {
  color: hsl(195, 100%, 26%);
}
