/* Breakpoints - need to use SCSS variables in media queries */
$mobile-breakpoint: 596px;
$tablet-breakpoint: 896px;
$desktop-breakpoint: 1024px;
$desktop-max: 1440px;

// anything less than mobile breakpoint
@mixin for-phone-only {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

// anything less than tablet breakpoint
@mixin for-tablet-portrait-down {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

// anything greater than mobile breakpoint
@mixin for-tablet-portrait-up {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

// anything greater than tablet breakpoint
@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

// anything greater than desktop breakpoint
@mixin for-desktop-up {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

// anything greater than 1800px
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// anything less than tablet breakpoint
@mixin for-tablet-down {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

// anything greater than mobile breakpoint
@mixin for-tablet-up {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin clamp-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin desktop-only {
  @include for-phone-only {
    display: none;
  }
}

@mixin dropshadow {
  filter: drop-shadow(3px 6px 3px rgba(0 0 50%));
}

@mixin override-button-styles {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  :focus {
    border: none;
  }
}
