@import "../styles/mixins.scss";
@import "../styles/variables/fonts.module.scss";
@import "../styles/variables/colors.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  h1 {
    font-size: $text-xxl;
    font-weight: 600;
    margin: 0;

    @include for-tablet-portrait-down {
      text-align: center;
    }
  }

  h2 {
    font-size: $text-md;
    font-weight: 400;
    text-transform: uppercase;
    color: $blue-text;
    margin: 0;
  }

  h1.politicianOffice {
    margin: 0 0 0.75rem;
    text-align: center;
    max-width: 80%;
  }

  h3.subHeader {
    font-size: $text-sm;
    font-weight: 400;
    color: $white;
    margin: 0 0 1.25rem;
    text-transform: uppercase;
    font-family: $font-primary;
  }

  h3.aqua {
    color: $aqua;
  }

  section {
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid $blue-dark;

    @include for-tablet-landscape-up {
      padding: 2rem 0;
      border-top: solid 4px var(--color-accent);
    }

    &.center {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
}

.gradientHeader {
  background: linear-gradient(180deg, #003c55 0%, #002e45 100%);
  font-family: $font-primary;
  font-size: $text-md !important;
  font-weight: 600;
  margin: -1.5rem 0 1rem !important;
  padding: 1rem;
  text-align: center;
  width: 100%;

  @include for-tablet-landscape-up {
    margin: 2rem 0 0.5rem !important;
    background: none;
    font-size: $text-xxl !important;
    padding: 0;
    text-transform: capitalize !important;
  }
}

.flexEvenly {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.tagPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem;
}

.tag {
  background: $blue-dark;
  color: $white;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: $text-sm;
  font-weight: 400;
  width: fit-content;
  max-width: calc(100vw - 2rem);
  display: flex;
  align-items: center;

  svg {
    margin: 0 0.25rem 0 0;
    flex-shrink: 0;
  }

  .subCommittee path {
    stroke: $blue;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.flexBetween {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 0.5rem;
  margin: 0.25rem;
  padding: 0 1.25rem;

  span {
    min-width: fit-content;
    margin: 0;

    &.dots {
      width: 100%;
      border-bottom: 1px dotted $blue-text;
    }

    &:last-child {
      color: $blue-lighter;
    }
  }
}

.statusPill {
  background: $blue;
  border-radius: 40px;
  padding: 10px;
  text-transform: capitalize;
}

.roundedCard {
  border-radius: 25px;
  border: 1px solid $blue-dark;
  background: $blue-darker;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  min-width: 10rem;

  h1 {
    font-weight: 400;
  }
}

.organizationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 7rem;

  h4 {
    font-size: $text-sm;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0 0.375rem;

    @include clamp-ellipsis;
  }
}

.politicianEndorsementOffice {
  font-size: $text-sm;
  color: $aqua;
  font-style: italic;
  text-align: center;
}

.ratingContainer {
  width: calc(10rem - 1.25rem);
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    @include clamp-ellipsis;
  }
}

.ratingCircle {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: $font-primary;
  font-weight: 600;
  color: $blue-darkest;
}

.circlesContainer {
  display: inline-flex;

  :nth-child(2) {
    margin-left: -1.5rem;
  }
}
