@import "styles/variables/colors";
@import "styles/mixins/media";

.container {
  display: flex;
  flex-direction: row;
  // align-items: top;
  justify-content: center;
  // margin-top: 1.5rem;

  // @include for-tablet-up {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: 25;
  //   margin-right: 5%;
  //   margin-top: 0;
  //   justify-content: flex-end;
  // }

  button {
    background: $blue-darker;
    border: none;
    color: $white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 0 50px 50px 0;

    @include for-tablet-up {
      border-radius: 0 0 50px;
      padding: 1.5rem 2rem;
    }

    // &:first-child {
    //   border-right: 1px solid $blue-darkest;
    //   border-radius: 50px 0 0 50px;
    //   padding-left: 0.5rem;

    //   @include for-tablet-up {
    //     border-radius: 0 0 0 50px;
    //     padding-left: 2rem;
    //   }
    // }
    // &:last-child {
    //   // border-left: 1px solid $blue-dark;
    //   // padding-right: 0.5rem;

    //   // @include for-tablet-up {
    //   //   padding-right: 2rem;
    //   // }
    // }

    h3 {
      margin: 0 0.5rem 0 0.5rem;
      @include for-tablet-up {
        font-size: 1em;
        font-weight: 500;
      }
    }

    h4 {
      margin: 0 0.5rem 0 0.5rem;
      font-size: 0.75em;

      @include for-tablet-up {
        font-size: 1em;
      }
    }

    svg {
      height: 14px;

      @include for-tablet-up {
        height: 40px;
      }
    }

    &:disabled {
      cursor: not-allowed;
      svg {
        fill: $blue;

        @include for-tablet-up {
          fill: $blue-dark;
        }
      }

      h4 {
        color: $blue;
      }
    }

    // .nextLabel {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   margin-right: 1rem;

    //   @include for-tablet-up {
    //     margin-right: 1.5rem;
    //   }
    // }

    // .lastLabel {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   // margin-left: 1.5rem;
    // }
  }
}
