@import "styles/variables/colors";
@import "styles/mixins/media";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    /* TODO: Work on specificity of TopNav / TopElectionNav selectors in order to remove !important in this file */
    background: $blue-dark !important;
    padding: 0.5rem 0.5rem !important;
    cursor: pointer !important;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-child {
      border-radius: 50px 0 0 50px;
      border-right: 1px solid $blue-darkest;
    }

    &:last-child {
      border-left: 1px solid $blue;
      border-radius: 0 50px 50px 0;
    }

    h4 {
      margin: 0 0.125rem 0 0.125rem;
      font-size: 0.75em;
    }

    svg {
      height: 1rem;
    }

    &:disabled {
      cursor: not-allowed !important;
      svg {
        fill: $blue;
      }

      h4 {
        color: $blue;
      }
    }
  }
}
