@import "styles/variables/colors";
@import "styles/variables/fonts";

.container {
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--democratic-fr) var(--republican-fr);
  height: 12px;

  div {
    color: white;
    font-size: calc(0.75em + 0.15vw);
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.25rem;

    &.democratic {
      background-color: $blue;
      min-width: 100px;
    }

    &.republican {
      background-color: $red;
      min-width: 100px;
    }
  }
}

.partyCountsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  font-size: $text-xs;
  font-weight: 500;
}

.democratLabel {
  color: $blue;
}

.republicanLabel {
  color: $red;
}
