@import "../../../pages/politicians/PoliticianPage.module.scss";

.borderTop {
  border-top: 1px solid $blue-dark !important;

  @include for-tablet-down {
    border-top: solid 1px $blue-darker;
  }

  h2 {
    margin-top: 0;
  }
}
