@import "styles/variables/colors";
@import "styles/variables/fonts";
@import "styles/mixins/media";

.container {
  position: relative;
  margin-bottom: 3rem;

  @include for-tablet-up {
    border-left: 1px solid $blue-dark; // Default color
    margin-bottom: 4rem;
  }

  .sectionTitle {
    display: flex;
    width: max-content;
    font-family: $font-primary;
    background: $blue-dark; // Default color
    color: $white;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    border-radius: 0 40px 40px 0;
    padding: 0 40px;
    text-transform: uppercase;
  }

  &.green {
    @include for-tablet-portrait-up {
      border-left: 1px solid $green;
    }

    .sectionTitle {
      background: $green;
      color: $background-primary;
    }
  }

  &.yellow {
    @include for-tablet-up {
      border-left: 1px solid $yellow;
    }

    .sectionTitle {
      background: $yellow;
      color: $background-primary;
    }
  }

  &.salmon {
    @include for-tablet-portrait-up {
      border-left: 1px solid $salmon;
    }

    .sectionTitle {
      background: $salmon;
      color: $background-primary;
    }
  }

  &.aqua {
    @include for-tablet-portrait-up {
      border-left: 1px solid $aqua;
    }

    .sectionTitle {
      background: $aqua;
      color: $background-primary;
    }
  }

  &.violet {
    @include for-tablet-portrait-up {
      border-left: 1px solid $violet;
    }

    .sectionTitle {
      background: $violet;
      color: $background-primary;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .content {
    padding: 1rem;

    @include for-tablet-portrait-up {
      padding: 2rem;
    }
  }
}

.hideFlagForMobile {
  @include for-tablet-portrait-down {
    header {
      display: none;
    }
    .content {
      padding: 0;
    }
  }
}
